<header data-module="govuk-header" class="dwp-header">
<div class="dwp-header__content govuk-width-container">
<div class="dwp-header__service-name">
  <a href="home" class="dwp-header__link">Disability Living Allowance for Children</a>
</div>
<nav class="dwp-header-navigation"
  aria-label="Primary">
  <button type="button" class="dwp-header-navigation__menu-button govuk-js-header-toggle" aria-controls="navigation" hidden>
    Menu
  </button>



  

</nav>
</div>
</header>

<div class="govuk-phase-banner govuk-width-container">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      UX prototype
    </strong>
    <span class="govuk-phase-banner__text">
      This is not the real service. It is not connected to a database, no information you input will be stored.
    </span>
  </p>
</div>