{% extends "layouts/main.html" %}

{% block pageTitle %}
  Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}

{% include './includes/_header.html' %}


{% endblock %}

{% block content %}

<div class="govuk-grid-row">

<div class="govuk-grid-column-">
  <section class="dwp-quick-reference" aria-label="Case information">
    <dl class="dwp-quick-reference__block">
      <dt class="dwp-quick-reference__label govuk-visually-hidden">Name:</dt>
      <dd class="dwp-quick-reference__primary">Jane Smith</dd>
      <dt class="dwp-quick-reference__label dwp-quick-reference__label--primary govuk-visually-hidden">National Insurance number:</dt>
      <dd class="dwp-quick-reference__secondary"><b>National insurance number: </b>QQ 12 34 56 X</dd>
      <dd class="dwp-quick-reference__secondary"><b>Date of birth: </b>9 May 2006 <strong class="govuk-tag">V</strong></dd>
      <dd class="dwp-quick-reference__secondary"><b>Claim status: </b><strong class="govuk-tag">Registered</strong></dd>
    </dl>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
  </section>

  <a href="evidence-used-empty" class="govuk-back-link">Back</a>


<div class="govuk-error-summary" data-module="govuk-error-summary">
  <div role="alert">
    <h2 class="govuk-error-summary__title">
      There is a problem
    </h2>
    <div class="govuk-error-summary__body">
      <ul class="govuk-list govuk-error-summary__list"> 
        <li>
          <a href="#">Select what evidence is used for the decision</a>
        </li>
      </ul>
    </div>
  </div>
</div>


  <h1 class="govuk-heading-l">Add or amend evidence used</h1>



<div class="govuk-form-group">
  <label class="govuk-label" for="sort">
    Evidence code (optional)
  </label>
  <select class="govuk-select" id="sort" name="sort">
    <option value="published"></option>
    <option value="views">11 - Claim form</option>
    <option value="comments">12 - HCP examination report</option>
    <option value="views">14 - Fee paying medical evidence</option>
    <option value="views">15 - Non-fee paying medical evidence</option>
    <option value="views">16 - Medical evidence from customer</option>
    <option value="views">17 - Telephone call</option>
    <option value="views">18 - Other non-fee paying report</option>
    <option value="views">19 - Other</option>
  </select>
</div>



<div class="govuk-form-group govuk-form-group--error">
  <fieldset class="govuk-fieldset" aria-describedby="countries-error">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-label">
        Evidence used for decision
      </h1>
    </legend>
    <p id="countries-error" class="govuk-error-message">
      <span class="govuk-visually-hidden">Error:</span> Select what evidence is used for the decision
    </p>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="check-2" name="check" type="checkbox" value="two">
        <label class="govuk-label govuk-checkboxes__label" for="check-2">
          Fee paying medical evidence
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="check-3" name="check" type="checkbox" value="three">
        <label class="govuk-label govuk-checkboxes__label" for="check-3">
          Non-fee paying medical evidence
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="check-4" name="check" type="checkbox" value="four">
        <label class="govuk-label govuk-checkboxes__label" for="check">
          Medical evidence from customer
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="check-5" name="check" type="checkbox" value="five">
        <label class="govuk-label govuk-checkboxes__label" for="check">
          Telephone call
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="check-6" name="check" type="checkbox" value="six">
        <label class="govuk-label govuk-checkboxes__label" for="check">
          Other non-fee paying report
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="check-7" name="check" type="checkbox" value="seven">
        <label class="govuk-label govuk-checkboxes__label" for="check">
        Other
        </label>
      </div>
    </div>
  </fieldset>
</div>

<button
  type="button"
  class="govuk-button"
  data-module="govuk-button"
  onclick="window.location.href='evidence-used-added'">
  Save
</button>

  </div>

</div>

{% endblock %}
