{% extends "layouts/main.html" %}

{% block pageTitle %}
  Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}

{% include './includes/_header.html' %}


{% endblock %}

{% block content %}

<div class="govuk-width-container">
<div class="govuk-grid-row">

<div class="govuk-grid-column-full">
  <section class="dwp-quick-reference" aria-label="Case information">
    <dl class="dwp-quick-reference__block">
      <dt class="dwp-quick-reference__label govuk-visually-hidden">Name:</dt>
      <dd class="dwp-quick-reference__primary">Jane Smith</dd>
      <dt class="dwp-quick-reference__label dwp-quick-reference__label--primary govuk-visually-hidden">National Insurance number:</dt>
      <dd class="dwp-quick-reference__secondary"><b>National insurance number: </b>QQ 12 34 56 X</dd>
      <dd class="dwp-quick-reference__secondary"><b>Date of birth: </b>9 May 2006 <strong class="govuk-tag">V</strong></dd>
      <dd class="dwp-quick-reference__secondary"><b>Claim status: </b><strong class="govuk-tag">Registered</strong></dd>
    </dl>


<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

  </section>
    </div>


        <div class="govuk-grid-column-full">
  <a href="boarder-payment" class="govuk-back-link">Back</a>

  <h1 class="govuk-heading-l">Add payment period</h1>
</div>



</div>


<div style="display:flex; align-items:flex-start; width:100%;">

  <div style="flex:1;">
    <p>From</p>

    <div class="govuk-date-input" id="from-date">
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="from-day">
            Day
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="from-day" type="text">
        </div>
      </div>

      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="from-month">
            Month
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="from-month" type="text" >
        </div>
      </div>

      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="from-year">
            Year
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="from-year" type="text" >
        </div>
      </div>
    </div>
  </div>

  <div style="flex:1;">
    <p>To</p>

    <div class="govuk-date-input" id="to-date">
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="to-day">
            Day
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="to-day" type="text" >
        </div>
      </div>

      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="to-month">
            Month
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="to-month" type="text" >
        </div>
      </div>

      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="to-year">
            Year
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="to-year" type="text">
        </div>
      </div>
    </div>
  </div>

  <div style="padding-top:68px; margin-left:40px;">
    <button
      type="submit"
      class="govuk-button govuk-button--secondary govuk-!-margin-bottom-0"
      data-module="govuk-button">
      Delete
    </button>
  </div>

</div>

<div style="display:flex; align-items:flex-start; width:100%;">

  <div style="flex:1;">
    <p>From</p>

    <div class="govuk-date-input" id="from-date">
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="from-day">
            Day
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="from-day" type="text">
        </div>
      </div>

      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="from-month">
            Month
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="from-month" type="text" >
        </div>
      </div>

      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="from-year">
            Year
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="from-year" type="text" >
        </div>
      </div>
    </div>
  </div>

  <div style="flex:1;">
    <p>To</p>

    <div class="govuk-date-input" id="to-date">
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="to-day">
            Day
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="to-day" type="text" >
        </div>
      </div>

      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="to-month">
            Month
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="to-month" type="text" >
        </div>
      </div>

      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="to-year">
            Year
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="to-year" type="text">
        </div>
      </div>
    </div>
  </div>

  <div style="padding-top:68px; margin-left:40px;">
    <button
      type="submit"
      class="govuk-button govuk-button--secondary govuk-!-margin-bottom-0"
      data-module="govuk-button">
      Delete
    </button>
  </div>

</div>

<div style="display:flex; align-items:flex-start; width:100%;">

  <div style="flex:1;">
    <p>From</p>

    <div class="govuk-date-input" id="from-date">
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="from-day">
            Day
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="from-day" type="text">
        </div>
      </div>

      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="from-month">
            Month
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="from-month" type="text" >
        </div>
      </div>

      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="from-year">
            Year
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="from-year" type="text" >
        </div>
      </div>
    </div>
  </div>

  <div style="flex:1;">
    <p>To</p>

    <div class="govuk-date-input" id="to-date">
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="to-day">
            Day
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="to-day" type="text" >
        </div>
      </div>

      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="to-month">
            Month
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="to-month" type="text" >
        </div>
      </div>

      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="to-year">
            Year
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="to-year" type="text">
        </div>
      </div>
    </div>
  </div>

  <div style="padding-top:68px; margin-left:40px;">
    <button
      type="submit"
      class="govuk-button govuk-button--secondary govuk-!-margin-bottom-0"
      data-module="govuk-button">
      Delete
    </button>
  </div>

</div>

<div style="display:flex; align-items:flex-start; width:100%;">

  <div style="flex:1;">
    <p>From</p>

    <div class="govuk-date-input" id="from-date">
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="from-day">
            Day
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="from-day" type="text">
        </div>
      </div>

      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="from-month">
            Month
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="from-month" type="text" >
        </div>
      </div>

      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="from-year">
            Year
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="from-year" type="text" >
        </div>
      </div>
    </div>
  </div>

  <div style="flex:1;">
    <p>To</p>

    <div class="govuk-date-input" id="to-date">
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="to-day">
            Day
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="to-day" type="text" >
        </div>
      </div>

      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="to-month">
            Month
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="to-month" type="text" >
        </div>
      </div>

      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="to-year">
            Year
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="to-year" type="text">
        </div>
      </div>
    </div>
  </div>

  <div style="padding-top:68px; margin-left:40px;">
    <button
      type="submit"
      class="govuk-button govuk-button--secondary govuk-!-margin-bottom-0"
      data-module="govuk-button">
      Delete
    </button>
  </div>

</div>

<div style="display:flex; align-items:flex-start; width:100%;">

  <div style="flex:1;">
    <p>From</p>

    <div class="govuk-date-input" id="from-date">
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="from-day">
            Day
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="from-day" type="text">
        </div>
      </div>

      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="from-month">
            Month
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="from-month" type="text" >
        </div>
      </div>

      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="from-year">
            Year
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="from-year" type="text" >
        </div>
      </div>
    </div>
  </div>

  <div style="flex:1;">
    <p>To</p>

    <div class="govuk-date-input" id="to-date">
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="to-day">
            Day
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="to-day" type="text" >
        </div>
      </div>

      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="to-month">
            Month
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="to-month" type="text" >
        </div>
      </div>

      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="to-year">
            Year
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="to-year" type="text">
        </div>
      </div>
    </div>
  </div>

  <div style="padding-top:68px; margin-left:40px;">
    <button
      type="submit"
      class="govuk-button govuk-button--secondary govuk-!-margin-bottom-0"
      data-module="govuk-button">
      Delete
    </button>
  </div>

</div>

<div style="display:flex; align-items:flex-start; width:100%;">

  <div style="flex:1;">
    <p>From</p>

    <div class="govuk-date-input" id="from-date">
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="from-day">
            Day
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="from-day" type="text">
        </div>
      </div>

      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="from-month">
            Month
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="from-month" type="text" >
        </div>
      </div>

      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="from-year">
            Year
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="from-year" type="text" >
        </div>
      </div>
    </div>
  </div>

  <div style="flex:1;">
    <p>To</p>

    <div class="govuk-date-input" id="to-date">
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="to-day">
            Day
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="to-day" type="text" >
        </div>
      </div>

      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="to-month">
            Month
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="to-month" type="text" >
        </div>
      </div>

      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="to-year">
            Year
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="to-year" type="text">
        </div>
      </div>
    </div>
  </div>

  <div style="padding-top:68px; margin-left:40px;">
    <button
      type="submit"
      class="govuk-button govuk-button--secondary govuk-!-margin-bottom-0"
      data-module="govuk-button">
      Delete
    </button>
  </div>

</div>

<div style="display:flex; align-items:flex-start; width:100%;">

  <div style="flex:1;">
    <p>From</p>

    <div class="govuk-date-input" id="from-date">
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="from-day">
            Day
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="from-day" type="text">
        </div>
      </div>

      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="from-month">
            Month
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="from-month" type="text" >
        </div>
      </div>

      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="from-year">
            Year
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="from-year" type="text" >
        </div>
      </div>
    </div>
  </div>

  <div style="flex:1;">
    <p>To</p>

    <div class="govuk-date-input" id="to-date">
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="to-day">
            Day
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="to-day" type="text" >
        </div>
      </div>

      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="to-month">
            Month
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="to-month" type="text" >
        </div>
      </div>

      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="to-year">
            Year
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="to-year" type="text">
        </div>
      </div>
    </div>
  </div>

  <div style="padding-top:68px; margin-left:40px;">
    <button
      type="submit"
      class="govuk-button govuk-button--secondary govuk-!-margin-bottom-0"
      data-module="govuk-button">
      Delete
    </button>
  </div>

</div>

<div style="display:flex; align-items:flex-start; width:100%;">

  <div style="flex:1;">
    <p>From</p>

    <div class="govuk-date-input" id="from-date">
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="from-day">
            Day
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="from-day" type="text">
        </div>
      </div>

      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="from-month">
            Month
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="from-month" type="text" >
        </div>
      </div>

      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="from-year">
            Year
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="from-year" type="text" >
        </div>
      </div>
    </div>
  </div>

  <div style="flex:1;">
    <p>To</p>

    <div class="govuk-date-input" id="to-date">
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="to-day">
            Day
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="to-day" type="text" >
        </div>
      </div>

      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="to-month">
            Month
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="to-month" type="text" >
        </div>
      </div>

      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="to-year">
            Year
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="to-year" type="text">
        </div>
      </div>
    </div>
  </div>

  <div style="padding-top:68px; margin-left:40px;">
    <button
      type="submit"
      class="govuk-button govuk-button--secondary govuk-!-margin-bottom-0"
      data-module="govuk-button">
      Delete
    </button>
  </div>

</div><div style="display:flex; align-items:flex-start; width:100%;">

  <div style="flex:1;">
    <p>From</p>

    <div class="govuk-date-input" id="from-date">
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="from-day">
            Day
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="from-day" type="text">
        </div>
      </div>

      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="from-month">
            Month
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="from-month" type="text" >
        </div>
      </div>

      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="from-year">
            Year
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="from-year" type="text" >
        </div>
      </div>
    </div>
  </div>

  <div style="flex:1;">
    <p>To</p>

    <div class="govuk-date-input" id="to-date">
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="to-day">
            Day
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="to-day" type="text" >
        </div>
      </div>

      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="to-month">
            Month
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="to-month" type="text" >
        </div>
      </div>

      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="to-year">
            Year
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="to-year" type="text">
        </div>
      </div>
    </div>
  </div>

  <div style="padding-top:68px; margin-left:40px;">
    <button
      type="submit"
      class="govuk-button govuk-button--secondary govuk-!-margin-bottom-0"
      data-module="govuk-button">
      Delete
    </button>
  </div>

</div>

<div style="display:flex; align-items:flex-start; width:100%;">

  <div style="flex:1;">
    <p>From</p>

    <div class="govuk-date-input" id="from-date">
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="from-day">
            Day
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="from-day" type="text">
        </div>
      </div>

      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="from-month">
            Month
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="from-month" type="text" >
        </div>
      </div>

      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="from-year">
            Year
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="from-year" type="text" >
        </div>
      </div>
    </div>
  </div>

  <div style="flex:1;">
    <p>To</p>

    <div class="govuk-date-input" id="to-date">
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="to-day">
            Day
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="to-day" type="text" >
        </div>
      </div>

      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="to-month">
            Month
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="to-month" type="text" >
        </div>
      </div>

      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="to-year">
            Year
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="to-year" type="text">
        </div>
      </div>
    </div>
  </div>

  <div style="padding-top:68px; margin-left:40px;">
    <button
      type="submit"
      class="govuk-button govuk-button--secondary govuk-!-margin-bottom-0"
      data-module="govuk-button">
      Delete
    </button>
  </div>

</div>

<div style="display:flex; align-items:flex-start; width:100%;">

  <div style="flex:1;">
    <p>From</p>

    <div class="govuk-date-input" id="from-date">
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="from-day">
            Day
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="from-day" type="text">
        </div>
      </div>

      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="from-month">
            Month
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="from-month" type="text" >
        </div>
      </div>

      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="from-year">
            Year
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="from-year" type="text" >
        </div>
      </div>
    </div>
  </div>

  <div style="flex:1;">
    <p>To</p>

    <div class="govuk-date-input" id="to-date">
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="to-day">
            Day
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="to-day" type="text" >
        </div>
      </div>

      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="to-month">
            Month
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="to-month" type="text" >
        </div>
      </div>

      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="to-year">
            Year
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="to-year" type="text">
        </div>
      </div>
    </div>
  </div>

  <div style="padding-top:68px; margin-left:40px;">
    <button
      type="submit"
      class="govuk-button govuk-button--secondary govuk-!-margin-bottom-0"
      data-module="govuk-button">
      Delete
    </button>
  </div>

</div>

{% from "govuk/components/button/macro.njk" import govukButton %}

{{ govukButton({
  text: "Continue",
  href: "/payment-period-save"
}) }}



{% endblock %}
