{% extends "layouts/main.html" %}

{% block pageTitle %}
  Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}

{% include './includes/_header.html' %}


{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  

<div class="govuk-grid-column-full">
  <section class="dwp-quick-reference" aria-label="Case information">
    <dl class="dwp-quick-reference__block">
      <dt class="dwp-quick-reference__label govuk-visually-hidden">Name:</dt>
      <dd class="dwp-quick-reference__primary">Jane Smith</dd>
      <dt class="dwp-quick-reference__label dwp-quick-reference__label--primary govuk-visually-hidden">National Insurance number:</dt>
      <dd class="dwp-quick-reference__secondary"><b>National insurance number: </b>QQ 12 34 56 X</dd>
      <dd class="dwp-quick-reference__secondary"><b>Date of birth: </b>9 May 2006 <strong class="govuk-tag">V</strong></dd>
      <dd class="dwp-quick-reference__secondary"><b>Claim status: </b><strong class="govuk-tag">Registered</strong></dd>
    </dl>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

  </section>

  <a href="lay-evidence-and-exclusions" class="govuk-back-link">Back</a>
  <h1 class="govuk-heading-l">Add or amend lay evidence and exclusions</h1>

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-full">
<div class="govuk-form-group">
  <label class="govuk-label" for="sort">
    Exclusion reason
  </label>
  <select class="govuk-select" id="sort" name="sort">
    <option value="published"></option>
<option value="E01">E01 - R and P conditions not satisfied</option>
<option value="E02">E02 - Defective claim</option>
<option value="E03">E03 - Withdrawal</option>
<option value="E04">E04 - Withdrawal following death</option>
<option value="E10">E10 - Death during qualifying period</option>
<option value="E11">E11 - Death before start of first possible benefit week</option>
<option value="E12">E12 - Death between end of qualifying period and first payday</option>
<option value="E13">E13 - Death between start of entitlement and first payday (no qualifying period)</option>
<option value="E14">E14 - Death before receipt of claim or conversion claim effective date</option>
<option value="E15">E15 - Posthumous claim</option>
  </select>
</div>

<table class="govuk-table">
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Effective date</th>
      <td class="govuk-table__cell">21 August 2025</td>
    </tr>
  </tbody>
</table>


<h3 class="govuk-heading-s">Entry 1</h3>



</div>

    <div class="govuk-grid-column-one-half">
      <div class="govuk-date-input" id="passport-issued">
        <p>From</p>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                  Day
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" inputmode="numeric">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                  Month
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" inputmode="numeric">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                  Year
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" inputmode="numeric">
              </div>
            </div>
          </div>

    </div>

    <div class="govuk-grid-column-one-half">
      <div class="govuk-date-input" id="passport-issued">
        <p>To</p>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                  Day
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" inputmode="numeric">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                  Month
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" inputmode="numeric">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                  Year
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" inputmode="numeric">
              </div>
            </div>
        </div>
    </div>

        

</div>
<div class="govuk-form-group">
  <label class="govuk-label" for="sort">
    Reason code
  </label>
  <select class="govuk-select" id="sort" name="sort">
    <option value="published"></option>
    <option value="views">N99 - Uprating indicator</option>
    <option value="comments">T02 - Absence abroad or Residence and Prescence (R and P) – claim terminated</option>
    <option value="views">T03 - Transfer to NI or IOM – claim terminated</option>
    <option value="views">T04 - Failure to comply – claim terminated</option>
  </select>
</div>




  <h1 class="govuk-label-wrapper">
    <p>Override amount</p>
  </h1>
  <div class="govuk-input__wrapper">
    <div class="govuk-input__prefix" aria-hidden="true">£</div>
    <input class="govuk-input govuk-input--width-10" id="cost" name="cost" type="text" spellcheck="false">
  </div>
  
<hr class="govuk-section-break govuk-section-break--m govuk-section-break">
          


<button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
  Add another lay evidence
</button>
</div>
</div>

<button type="submit" class="govuk-button" data-module="govuk-button">
  Save
</button>

  </div>

</div>

{% endblock %}
