{% extends "layouts/main.html" %}

{% block pageTitle %}
  Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}

{% include './includes/_header.html' %}


{% endblock %}

{% block content %}

<div class="govuk-grid-row">


<div class="govuk-grid-column-full">
  <section class="dwp-quick-reference" aria-label="Case information">
    <dl class="dwp-quick-reference__block">
      <dt class="dwp-quick-reference__label govuk-visually-hidden">Name:</dt>
      <dd class="dwp-quick-reference__primary">Jane Smith</dd>
      <dt class="dwp-quick-reference__label dwp-quick-reference__label--primary govuk-visually-hidden">National Insurance number:</dt>
      <dd class="dwp-quick-reference__secondary"><b>National insurance number: </b>QQ 12 34 56 X</dd>
      <dd class="dwp-quick-reference__secondary"><b>Date of birth: </b>9 May 2006 <strong class="govuk-tag">V</strong></dd>
      <dd class="dwp-quick-reference__secondary"><b>Claim status: </b><strong class="govuk-tag">Registered</strong></dd>
    </dl>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

  </section>

<a href="decision-summary" class="govuk-back-link">Back</a>
 <h1 class="govuk-heading-l">Add or amend decision summary</h1>









  
 <div class="govuk-form-group govuk-form-group--error">
  <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint passport-issued-error">
    <legend class="govuk-fieldset__legend govuk-fieldset__label">
        Decision date
      </h1>
    </legend>
    <p id="passport-issued-error" class="govuk-error-message">
      <span class="govuk-visually-hidden">Error:</span> Enter a valid decision date, for example 27 3 2007
    </p>
    <div class="govuk-date-input" id="passport-issued">
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
            Day
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--error govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" value="A" inputmode="numeric">
        </div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
            Month
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--error govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" value="B" inputmode="numeric">
        </div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
            Year
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--error govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" value="" inputmode="numeric">
        </div>
      </div>
    </div>
  </fieldset>
</div>






<div class="govuk-form-group govuk-form-group--error">
  <fieldset class="govuk-fieldset" aria-describedby="nknweknjkkew">
    <legend class="govuk-fieldset__legend govuk-fieldset__lable">
        Decision type
      </h1>
    </legend>
    <p id="whereDoYouLive-error" class="govuk-error-message">
      <span class="govuk-visually-hidden">Error:</span> Select a decision type
    </p>
    <div class="govuk-radios" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="whereDoYouLive" name="whereDoYouLive" type="radio" value="england">
        <label class="govuk-label govuk-radios__label" for="whereDoYouLive">
          2 - Record off-line decision
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="whereDoYouLive-2" name="whereDoYouLive" type="radio" value="scotland">
        <label class="govuk-label govuk-radios__label" for="whereDoYouLive-2">
          3 - Authorisation, for example Secretary of State decision
        </label>
      </div>
    </div>
  </fieldset>
</div>





<div class="govuk-form-group govuk-form-group--error">
  <fieldset class="govuk-fieldset" aria-describedby="nknweknjkwnw">
    <legend class="govuk-fieldset__legend govuk-fieldset__lable">
        Decision notification type
      </h1>
    </legend>
    <p id="whereDoYouLive-error" class="govuk-error-message">
      <span class="govuk-visually-hidden">Error:</span> Select a decision notification type
    </p>
    <div class="govuk-radios" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="whereDoYouLive" name="whereDoYou" type="radio" value="england">
        <label class="govuk-label govuk-radios__label" for="whereDoYouLive">
          System
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="whereDoYouLive-2" name="whereDoYou" type="radio" value="scotland">
        <label class="govuk-label govuk-radios__label" for="whereDoYouLive-2">
          Manual
        </label>
      </div>
         <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="whereDoYouLive-2" name="whereDoYou" type="radio" value="scotland">
        <label class="govuk-label govuk-radios__label" for="whereDoYouLive-2">
          None
        </label>
      </div>
    </div>
  </fieldset>
</div>








<div class="govuk-form-group govuk-form-group--error">
  <fieldset class="govuk-fieldset" aria-describedby="nknwedsad">
    <legend class="govuk-fieldset__legend govuk-fieldset__lable">
        System renewal notification
      </h1>
    </legend>
    <p id="whereDoYouLive-error" class="govuk-error-message">
      <span class="govuk-visually-hidden">Error:</span> Select a system renewal notification
    </p>
    <div class="govuk-radios" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="whereDoYouLive" name="wherew" type="radio" value="england">
        <label class="govuk-label govuk-radios__label" for="whereDoYouLive">
          Yes
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="whereDoYouLive-2" name="wherew" type="radio" value="scotland">
        <label class="govuk-label govuk-radios__label" for="whereDoYouLive-2">
          No
        </label>
      </div>
    </div>
  </fieldset>
</div>






<button type="submit" class="govuk-button" data-module="govuk-button"
onclick="window.location.href='decision-summary-added'">
Save
</button>


  </div>



</div>

{% endblock %}
