{% extends "layouts/main.html" %}

{% block pageTitle %}
  Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}

{% include './includes/_header.html' %}


{% endblock %}

{% block content %}

<div class="govuk-grid-row">

<div class="govuk-grid-column-">
  <section class="dwp-quick-reference" aria-label="Case information">
    <dl class="dwp-quick-reference__block">
      <dt class="dwp-quick-reference__label govuk-visually-hidden">Name:</dt>
      <dd class="dwp-quick-reference__primary">Jane Smith</dd>
      <dt class="dwp-quick-reference__label dwp-quick-reference__label--primary govuk-visually-hidden">National Insurance number:</dt>
      <dd class="dwp-quick-reference__secondary"><b>National insurance number: </b>QQ 12 34 56 X</dd>
      <dd class="dwp-quick-reference__secondary"><b>Date of birth: </b>9 May 2006 <strong class="govuk-tag">V</strong></dd>
      <dd class="dwp-quick-reference__secondary"><b>Claim status: </b><strong class="govuk-tag">Registered</strong></dd>
    </dl>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
  </section>

  <a href="#" class="govuk-back-link">Back</a>
  <h1 class="govuk-heading-l">Add an event</h1>






<div class="govuk-form-group">
  <label class="govuk-label" for="sort">
    Events
  </label>
  <select class="govuk-select" id="sort" name="sort">
    <option value="published"></option>
<option value="1">1 - New claim</option>
<option value="2">2 - New claim – Special Rules (SR)</option>
<option value="9">9 - Invite renewal</option>
<option value="10">10 - Monitor renewal response</option>
<option value="11">11 - Renewal claim both components – DLA only</option>
<option value="12">12 - Renewal claim – DLA care or AA</option>
<option value="13">13 - Renewal claim mobility – DLA only</option>
<option value="16">16 - Renewal or Supersession – care component</option>
<option value="17">17 - Renewal or Supersession – mobility component</option>
<option value="20">20 - Supersession – age 3</option>
<option value="25">25 - Explanation</option>
<option value="26">26 - Reconsideration</option>
<option value="27">27 - Supersession – change of circumstances or dispute</option>
<option value="28">28 - Supersession – age 5</option>
<option value="29">29 - Supersession – Secretary of State</option>
<option value="31">31 - Appeal – registered</option>
<option value="33">33 - Appeal – Social Security Commissioner (SSC)</option>
<option value="37">37 - Appeal – continuing</option>
<option value="38">38 - Appeal – Appeal Tribunal (AT)</option>
<option value="39">39 - Appeal – Misconceived</option>
<option value="99">99 - Other event</option>
  </select>
</div>



<p>Receipt date</p>

  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
      <div class="govuk-date-input" id="passport-issued">
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
              Day
            </label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" inputmode="numeric">
          </div>
        </div>
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
              Month
            </label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" inputmode="numeric">
          </div>
        </div>
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
              Year
            </label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" inputmode="numeric">
          </div>
        </div>
      </div>
    </fieldset>
  </div>

  <p>Effective date</p>

  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
      <div class="govuk-date-input" id="passport-issued">
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
              Day
            </label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" inputmode="numeric">
          </div>
        </div>
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
              Month
            </label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" inputmode="numeric">
          </div>
        </div>
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
              Year
            </label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" inputmode="numeric">
          </div>
        </div>
      </div>
    </fieldset>
  </div>

  <p>Decn made</p>

  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
      <div class="govuk-date-input" id="passport-issued">
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
              Day
            </label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" inputmode="numeric">
          </div>
        </div>
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
              Month
            </label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" inputmode="numeric">
          </div>
        </div>
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
              Year
            </label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" inputmode="numeric">
          </div>
        </div>
      </div>
    </fieldset>
  </div>

<p>End/notf</p>

  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
      <div class="govuk-date-input" id="passport-issued">
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
              Day
            </label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" inputmode="numeric">
          </div>
        </div>
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
              Month
            </label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" inputmode="numeric">
          </div>
        </div>
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
              Year
            </label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" inputmode="numeric">
          </div>
        </div>
      </div>
    </fieldset>
  </div>



<div class="govuk-form-group">
  <label class="govuk-label" for="sort">
     Evidence code
  </label>
  <select class="govuk-select" id="sort" name="sort">
    <option value="published"></option>
<option value="1">1 - Claim form only (with statement of disability with or without corroborative statement) No attachments.</option>
<option value="2">2 - Claim form (with or without statement of disability and corroborative statement) and further information from customer and/or another person. This can either be sent in with the claim form, or sent in later, but before the decision has been given.</option>
<option value="3">3 - Claim form (with or without statement of disability and corroborative statement) General Practitioner's Factual Report (GPFR) (DBD370) and all SR claims.</option>
<option value="5">5 - Claim form (with or without statement of disability and corroborative statement) and any non-fee paying factual report (inclusive of hospitals).</option>
<option value="99">99 - Other. This code can only be used with event type; 3, 9, 10, 20, 25, 28, 29, 30, 31, 40, 44, 45, 46, 47, 61, 62, 63, 64, 65, 66, 92, 93, 96, 97, 98 and 99.</option>
  </select>
</div>








<div class="govuk-form-group">
  <label class="govuk-label" for="sort">
    Outcome
  </label>
  <select class="govuk-select" id="sort" name="sort">
    <option value="published"></option>
<option value="Y11">Y11 - Reduced</option>
<option value="Y12">Y12 - Reduction to lower rate care - DLA only</option>
<option value="Y13">Y13 - Reduction to lower rate mobility - DLA only</option>
<option value="Y14">Y14 - Reduction to lower rate both components - DLA only</option>
<option value="Y15">Y15 - Maintained</option>
<option value="Y16">Y16 - Varied</option>
<option value="Y17">Y17 - Increased</option>
<option value="Y18">Y18 - Lapsed</option>
<option value="Y19">Y19 - Allowed</option>
<option value="Y20">Y20 - Satisfied</option>
<option value="Y21">Y21 - Not satisfied</option>
<option value="Y22">Y22 - Written response</option>
<option value="Y30">Y30 - Withdrawn</option>
<option value="Y31">Y31 - Withdrawn appeal</option>
<option value="Y32">Y32 - Withdrawn appeal</option>
<option value="Y33">Y33 - Appeal to SSC</option>
<option value="Y37">Y37 - Appeal continuing</option>
<option value="Y38">Y38 - Appeal to AT</option>
<option value="Y41">Y41 - Defective</option>
<option value="Y42">Y42 - No grounds</option>
<option value="Y43">Y43 - Superseded</option>
<option value="Y44">Y44 - Disallowed</option>
<option value="Y45">Y45 - Misconceived</option>
<option value="Y46">Y46 - Rejected</option>
<option value="Y47">Y47 - Appeal valid</option>
<option value="Y48">Y48 - DMA Lapsed</option>
<option value="Y99">Y99 - Other</option>
<option value="R01">R01 - Renewal not continuing</option>
<option value="R02">R02 - Renewal pack clerically issued</option>
<option value="R03">R03 - Renewal pack system issued</option>
<option value="R11">R11 - Renewal of DLA registered</option>
<option value="R12">R12 - Renewal of care component registered</option>
<option value="R13">R13 - Renewal of mobility component registered - DLA only</option>
<option value="R14">R14 - Renewal supersession of care component - DLA only</option>
<option value="R15">R15 - Renewal supersession of mobility component - DLA only</option>
<option value="R16">R16 - Renewal cleared on registration of subsequent CC365</option>
<option value="R17">R17 - Renewal system cleared at end of entitlement</option>
<option value="R18">R18 - Renewal cleared due to DOD</option>
<option value="O99">O99 - Overpayment Recoverability</option>
<option value="F01">F01 - Award</option>
<option value="F02">F02 - Adjusted award</option>
<option value="U01">U01 - Disallowed on disability grounds</option>


  </select>
</div>










{{ govukRadios({
  name: "whereDoYou",
  fieldset: {
    legend: {
      text: "Suppress acknowledgment?"
    }
  },
  items: [
    {
      value: "england",
      text: "Yes"
    },
    {
      value: "scotland",
      text: "No"
    }
  ]
}) }}

{{ govukRadios({
  name: "whereDoYouLive",
  fieldset: {
    legend: {
      text: "Suppress no change letter?"
    }
  },
  items: [
    {
      value: "england",
      text: "Yes"
    },
    {
      value: "scotland",
      text: "No"
    }
  ]
}) }}

<button type="submit" class="govuk-button" data-module="govuk-button">
  Save
</button>

  </div>

</div>

{% endblock %}
