{% extends "layouts/main.html" %}

{% block pageTitle %}
  Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}

{% include './includes/_header.html' %}


{% endblock %}

{% block content %}

<div class="govuk-width-container">
<div class="govuk-grid-row">

<div class="govuk-grid-column-full">
  <section class="dwp-quick-reference" aria-label="Case information">
    <dl class="dwp-quick-reference__block">
      <dt class="dwp-quick-reference__label govuk-visually-hidden">Name:</dt>
      <dd class="dwp-quick-reference__primary">Jane Smith</dd>
      <dt class="dwp-quick-reference__label dwp-quick-reference__label--primary govuk-visually-hidden">National Insurance number:</dt>
      <dd class="dwp-quick-reference__secondary"><b>National insurance number: </b>QQ 12 34 56 X</dd>
      <dd class="dwp-quick-reference__secondary"><b>Date of birth: </b>9 May 2006 <strong class="govuk-tag">V</strong></dd>
      <dd class="dwp-quick-reference__secondary"><b>Claim status: </b><strong class="govuk-tag">Registered</strong></dd>
    </dl>


<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

  </section>
    </div>


        <div class="govuk-grid-column-full">

{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

{{ govukBreadcrumbs({
  items: [
    {
      text: "Clerical calculation summary",
      href: "/clerical-calculation-summary"
    },
    {
      text: "Calculation period",
      href: "/calc-period-800"
    },
    {
      text: "Deduct from underpayment",
      href: "/deduct-from-underpayment-empty"
    }
  ]
}) }}

  <h1 class="govuk-heading-l">Add or amend underpayment deduction</h1>


  <div class="govuk-form-group">
      <label class="govuk-label" for="sort">
     Adjustment type
  </label>
  <select class="govuk-select" id="sort" name="sort">
    <option value="published"Selected>Select an option</option>
<option value="044">044 - DLA RECOVERY</option>
<option value="102">102 - ENT WHICH CANNOT BE PAID</option>
<option value="203">203 - OFFSET - PAID OFF SYSTEM</option>
<option value="204">204 - O/SET TO CORRECT SYS PAY</option>
<option value="211">211 - OFFSET MOB PAID 511 ADJ</option>

<option value="502">502 - UNDERPAYMENT - C OF C</option>
<option value="503">503 - UNDERPAYMENT - OTHER RSN</option>
<option value="504">504 - U/PAY - TERM MOTA AG.</option>
<option value="505">505 - U/PAY - PROV MOT AG. INC</option>
<option value="511">511 - BEN SUSP - MOB PAYABLE</option>

<option value="512">512 - SYS GEN U/PAY MOTA AG</option>
<option value="514">514 - MANUAL CALC AUT IN DA480</option>
<option value="520">520 - CHRISTMAS BONUS PAYABLE</option>
<option value="525">525 - BOARDER PAYMENT</option>
<option value="526">526 - BOARDER UNDERPAYMENT</option>
<option value="551">551 - CORRECT SYS CALC'D UPYT</option>

<option value="602">602 - EXTRA STATUTORY PAYMENT</option>
<option value="604">604 - EXCEPTIONAL PAYMENT</option>
<option value="605">605 - SPECIAL COMPEN PAYMENT</option>
<option value="800">800 - SYSTEM CALCULATED UPYT</option>
<option value="802">802 - REPLACEMNT SYS GENERATED</option>
<option value="820">820 - XMAS BONUS SYS SCAN</option>

<option value="850">850 - MOTA AGREEMENT DEDUCTION</option>
<option value="852">852 - MOB OFFSET A/W NEW AGRMT</option>
<option value="860">860 - XMAS BONUS SYS GENERATED</option>
<option value="900">900 - SYSTEM CALCULATED OPYT</option>
<option value="901">901 - CLERICAL CALC REQUIRED</option>
<option value="951">951 - CORRECT SYS CALC'D OPYT</option>
  </select>
</div>




{% from "govuk/components/input/macro.njk" import govukInput %}

{{ govukInput({
  id: "Deduction amount/Weekly rate",
  name: "Deduction amount/Weekly rate",
  label: {
    text: "Deduction amount/Weekly rate"
  },
  prefix: {
    text: "£"
  },
  classes: "govuk-input--width-5",
  spellcheck: false
}) }}



<h2 class="govuk-heading-m govuk-!-margin-top-6">
  Period for weekly rate
</h2>

</div>
        <div class="govuk-grid-column-one-half">
            <p>From</p>
          <div class="govuk-date-input" id="passport-issued">
               <div class="govuk-date-input__item">
                 <div class="govuk-form-group">
                   <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                     Day
                   </label>
                   <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" inputmode="numeric">
                 </div>
               </div>
               <div class="govuk-date-input__item">
                 <div class="govuk-form-group">
                   <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                     Month
                   </label>
                   <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" inputmode="numeric">
                 </div>
               </div>
               <div class="govuk-date-input__item">
                 <div class="govuk-form-group">
                   <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                     Year
                   </label>
                   <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" inputmode="numeric">
                 </div>
               </div>
             </div>

</div>

<div class="govuk-grid-column-one-half">
  <p>To</p>
  <div class="govuk-date-input" id="passport-issued">
       <div class="govuk-date-input__item">
         <div class="govuk-form-group">
           <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
             Day
           </label>
           <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" inputmode="numeric">
         </div>
       </div>
       <div class="govuk-date-input__item">
         <div class="govuk-form-group">
           <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
             Month
           </label>
           <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" inputmode="numeric">
         </div>
       </div>
       <div class="govuk-date-input__item">
         <div class="govuk-form-group">
           <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
             Year
           </label>
           <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" inputmode="numeric">
         </div>
       </div>
     </div>

</div>



  <button type="button"
    class="govuk-button govuk-button--secondary"
    onclick="window.location.href='/add-another-underpayment-deduction'">
    Add another entry
  </button>

  <br>

  {{ govukButton({
    text: "Continue",
    href: "/deduct-from-underpayment"
  }) }}

</div>


  </div>

</div>

{% endblock %}
