{% extends "layouts/main.html" %}

{% block pageTitle %}
  Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}

{% include './includes/_header.html' %}


{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">

    <button class="dwp-side-navigation__button" data-module="dwp-side-navigation"
      data-target="dwp-side-navigation-panel"
      data-label-hide="Hide navigation"
      data-label-show="Show navigation"
      aria-expanded="false">
      <span class="dwp-side-navigation__section-toggle-focus">
        <span class="dwp-side-navigation__chevron dwp-side-navigation__chevron--down"></span>
        <span class="dwp-side-navigation__section-toggle-text">Show navigation</span>
      </span>
    </button>
    <nav data-module="dwp-side-navigation-panel" class="dwp-side-navigation dwp-side-navigation--mobile" aria-label="Side" role="navigation">
      <ul class="dwp-side-navigation__list">
       
               <li class="dwp-side-navigation__item">
          <a id="payment-details" href="payment-details" class="dwp-side-navigation__link">
            Payment details
          </a>
        </li>
                <li class="dwp-side-navigation__item dwp-side-navigation__item--selected">
          <a id="childs-payment-details" href="childs-payment-details" class="dwp-side-navigation__link dwp-side-navigation__link--selected" aria-current="true">
            Alternative payment details
          </a>
        </li>
        <li class="dwp-side-navigation__item">
          <a id="payment-history" href="payment-history" class="dwp-side-navigation__link">
            Payment history
          </a>
        </li>
              <li class="dwp-side-navigation__item">
          <a id="display-payments" href="display-payments" class="dwp-side-navigation__link">
            Payment recall
          </a>
        </li>
          <li class="dwp-side-navigation__item">
          <a id="suspend-payments" href="suspend-payments" class="dwp-side-navigation__link">
            Suspend payments
          </a>
        </li>
            <li class="dwp-side-navigation__item">
          <a id="boarder-payment" href="boarder-payment" class="dwp-side-navigation__link">
            Boarder payments
          </a>
        </li>
            <li class="dwp-side-navigation__item">
          <a id="authorisation-replacement-browse" href="authorisation-replacement-browse" class="dwp-side-navigation__link">
            Authorise/refuse replacement
          </a>
        </li>
           <li class="dwp-side-navigation__item">
          <a id="clerical-calculation-summary-empty" href="clerical-calculation-summary-empty" class="dwp-side-navigation__link">
            Clerical calculation
          </a>
        </li>
            <li class="dwp-side-navigation__item">
          <a id="payment-deductions" href="payment-deductions" class="dwp-side-navigation__link">
          Payment deductions
          </a>
        </li>
             <li class="dwp-side-navigation__item">
          <a id="payment-frequency" href="payment-frequency" class="dwp-side-navigation__link">
            Finalise payment
          </a>
        </li>
      </ul>
    </nav>
  </div>



<div class="govuk-grid-column-three-quarters">
  <section class="dwp-quick-reference" aria-label="Case information">
    <dl class="dwp-quick-reference__block">
      <dt class="dwp-quick-reference__label govuk-visually-hidden">Name:</dt>
      <dd class="dwp-quick-reference__primary">Jane Smith</dd>
      <dt class="dwp-quick-reference__label dwp-quick-reference__label--primary govuk-visually-hidden">National Insurance number:</dt>
      <dd class="dwp-quick-reference__secondary"><b>National insurance number: </b>QQ 12 34 56 X</dd>
      <dd class="dwp-quick-reference__secondary"><b>Date of birth: </b>9 May 2006 <strong class="govuk-tag">V</strong></dd>
      <dd class="dwp-quick-reference__secondary"><b>Claim status: </b><strong class="govuk-tag">Registered</strong></dd>
    </dl>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

  </section>

  <h1 class="govuk-heading-l">Alternative payment details</h1>

  <table class="govuk-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Payee name</th>
        <td class="govuk-table__cell">Lucy Smith</td>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Relationship type</th>
        <td class="govuk-table__cell">Claimant</td>
      </tr>
    </tbody>
  </table>

<br>

<table class="govuk-table">
      <tbody class="govuk-table__body">


  {% from "govuk/components/button/macro.njk" import govukButton %}

<div class="app-heading-action">
  <h2 class="govuk-heading-m govuk-!-margin-bottom-0">
    Account details
  </h2>
  <button
    type="button"
    class="govuk-button govuk-button--secondary govuk-!-margin-bottom-0"
    data-module="govuk-button"
    onclick="window.location.href='/add-alternative-acount-details'">
    Add or amend account details
  </button>
</div>    


          <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header" style="width: 45%">Account holder</th>
          <td class="govuk-table__cell" style="width: 45%"> Miss Lucy Smith</td>
          <td class="govuk-table__cell" style="width: 10%"></td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Sort code </th>
          <td class="govuk-table__cell">54 76 98 </td>
          <td class="govuk-table__cell"></td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Account number</th>
          <td class="govuk-table__cell">98765409</td>
          <td class="govuk-table__cell"></td>
        </tr>

      </tbody>
    </table>

  </div>

</div>

{% endblock %}
