{% extends "layouts/main.html" %}

{% block pageTitle %}
  Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}

{% include './includes/_header.html' %}


{% endblock %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-three-quarters">
  <section class="dwp-quick-reference" aria-label="Case information">
    <dl class="dwp-quick-reference__block">
      <dt class="dwp-quick-reference__label govuk-visually-hidden">Name:</dt>
      <dd class="dwp-quick-reference__primary">Jane Smith</dd>
      <dt class="dwp-quick-reference__label dwp-quick-reference__label--primary govuk-visually-hidden">National Insurance number:</dt>
      <dd class="dwp-quick-reference__secondary"><b>National insurance number: </b>QQ 12 34 56 X</dd>
      <dd class="dwp-quick-reference__secondary"><b>Date of birth: </b>9 May 2006 <strong class="govuk-tag">V</strong></dd>
      <dd class="dwp-quick-reference__secondary"><b>Claim status: </b><strong class="govuk-tag">Registered</strong></dd>
    </dl>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

  </section>


  </section>
<a href="/payment-frequency" class="govuk-back-link">Back</a>
  <h1 class="govuk-heading-l">Amend method of payment</h1>


{{ govukInput({
  label: {
    text: "Method of payment"
  },
  classes: "govuk-input--width-10",
  id: "method-of-payment",
  name: "methodOfPayment",
  value: "[input]"
}) }}

{{ govukInput({
  label: {
    text: "Frequency"
  },
  classes: "govuk-input--width-10",
  id: "frequency",
  name: "frequency",
  value: "[input]"
}) }}



{% from "govuk/components/button/macro.njk" import govukButton %}

{{ govukButton({
  text: "Save",
  href: "/payment-frequency"
}) }}


  </div>

</div>

{% endblock %}
