{% extends "layouts/main.html" %}

{% block pageTitle %}
  Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}

{% include './includes/_header.html' %}


{% endblock %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-three-quarters">
  <section class="dwp-quick-reference" aria-label="Case information">
    <dl class="dwp-quick-reference__block">
      <dt class="dwp-quick-reference__label govuk-visually-hidden">Name:</dt>
      <dd class="dwp-quick-reference__primary">Jane Smith</dd>
      <dt class="dwp-quick-reference__label dwp-quick-reference__label--primary govuk-visually-hidden">National Insurance number:</dt>
      <dd class="dwp-quick-reference__secondary"><b>National insurance number: </b>QQ 12 34 56 X</dd>
      <dd class="dwp-quick-reference__secondary"><b>Date of birth: </b>9 May 2006 <strong class="govuk-tag">V</strong></dd>
      <dd class="dwp-quick-reference__secondary"><b>Claim status: </b><strong class="govuk-tag">Registered</strong></dd>
    </dl>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

  </section>


  </section>
<a href="/payment-frequency" class="govuk-back-link">Back</a>
  <h1 class="govuk-heading-l">Amend method of payment</h1>



{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{{ govukSummaryList({
  rows: [
    {
      key: {
        text: "Method of payment"
      },
      value: {
        text: "AC"
      }
    }
      
  ]
}) }}

  <label class="govuk-label" for="sort-code">
      Frequency
    </label>
  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
      <div class="govuk-radios" data-module="govuk-radios">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="Frequency" name="Frequency" type="radio" value="scotland">
          <label class="govuk-label govuk-radios__label" for="Frequency">
            1
          </label>
        </div>
         <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="whereDoYouLive-2" name="Frequency" type="radio" value="scotland" checked>
          <label class="govuk-label govuk-radios__label" for="Frequency">
            4
          </label>
        </div>
      </div>
    </fieldset>

    <br>

      <label class="govuk-label" for="sort-code">
      Weeks in arrears
    </label>
  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
      <div class="govuk-radios" data-module="govuk-radios">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="weeks" name="weeks" type="radio" value="scotland" >
          <label class="govuk-label govuk-radios__label" for="weeks">
            0
          </label>
        </div>
                 <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="weeks" name="weeks" type="radio" value="scotland">
          <label class="govuk-label govuk-radios__label" for="weeks">
            4
          </label>
        </div>
      </div>
    </fieldset>



    <br>





{% from "govuk/components/button/macro.njk" import govukButton %}

{{ govukButton({
  text: "Save",
  href: "/payment-frequency"
}) }}


  </div>

</div>

{% endblock %}
