{% extends "layouts/main.html" %}

{% block pageTitle %}
  Amend agreement – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block header %}
  {% include './includes/_header.html' %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <section class="dwp-quick-reference" aria-label="Case information">
      <dl class="dwp-quick-reference__block">

        <dd class="dwp-quick-reference__primary">
          Miss Jane Smith
        </dd>

        <dd class="dwp-quick-reference__secondary">
          <strong>National insurance number:</strong> QQ123456B
        </dd>

        <dd class="dwp-quick-reference__secondary">
          <strong>Date of Birth:</strong> 09 May 2006
          <strong class="govuk-tag">V</strong>
        </dd>

        <dd class="dwp-quick-reference__secondary">
          <strong>Claim status:</strong>
          <strong class="govuk-tag">R - REGISTERED</strong>
        </dd>

      </dl>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    </section>

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{{ govukBackLink({
  text: "Back",
  href: "motability-payment-terminate"
}) }}

    <h1 class="govuk-heading-l">
      Add or amend agreement
    </h1>

     <h2 class="govuk-heading-m">
      References
    </h2>

  <dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Supplier reference
    </dt>
    <dd class="govuk-summary-list__value">
      01
    </dd>
    <dd class="govuk-summary-list__actions">
      <a class="govuk-link" href="#"><span class="govuk-visually-hidden"> date of birth</span></a>
    </dd>
     </div>
</dl>

    {{ govukInput({
      id: "join-xref",
      name: "joinXRef",
      label: {
        text: "Customer reference number"
      },
      classes: "govuk-!-width-one-half",
      value: "[input]"
    }) }}

    {{ govukInput({
      id: "join-xref",
      name: "joinXRef",
      label: {
        text: "Agreement reference number"
      },
      classes: "govuk-!-width-one-half",
      value: "[input]"
    }) }}


    <h2 class="govuk-heading-m">
      Agreement
    </h2>

    {{ govukInput({
      id: "weekly-payments",
      name: "weeklyPayments",
      label: {
        text: "Number of 4 weekly payments"
      },
      classes: "govuk-!-width-one-half",
      value: "[input]"
    }) }}

    <h2 class="govuk-heading-m">
      Termination
    </h2>

   {% from "govuk/components/date-input/macro.njk" import govukDateInput %}

<p>Date (optional)</p>

  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
      <div class="govuk-date-input" id="passport-issued">
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
              Day
            </label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" inputmode="numeric" value="03">
          </div>
        </div>
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
              Month
            </label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" inputmode="numeric" value="01">
          </div>
        </div>
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
              Year
            </label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" inputmode="numeric" value="2026">
          </div>
        </div>
      </div>
    </fieldset>
  </div>

{% from "govuk/components/select/macro.njk" import govukSelect %}

{{ govukSelect({
  id: "termination-reason",
  name: "terminationReason",
  label: {
    text: "Reason (optional)"
  },
  items: [
    {
      value: "",
      text: "Select a termination reason"
    },
    {
      value: "A01",
      text: "A01 - Requested by the Supplier"
    },
    {
      value: "A02",
      text: "A02 - Customer has died"
    },
    {
      value: "A03",
      text: "A03 - Agreement details incorrect"
    },
    {
      value: "A04",
      text: "A04 - No longer entitled to High Rate Mobility Component"
    },
    {
      value: "A05",
      text: "A05 - Change of Appointee"
    },
    {
      value: "A07",
      text: "A07 - Customer moved to Northern Ireland (NI) or Scotland"
    },
    {
      value: "A08",
      text: "A08 - Not Entitled - Absence Abroad"
    },
    {
      value: "A09",
      text: "A09 - Not Entitled - Imprisonment"
    },
    {
      value: "A10",
      text: "A10 - No Payability - Hospitalisation"
    },
    {
      value: "A11",
      text: "A11 - Extension terminated"
    },
    {
      value: "A12",
      text: "A12 - Transferred to PIP"
    }
  ]
}) }}

    <h2 class="govuk-heading-m">
      Renewal intentions
    </h2>

    {{ govukRadios({
      name: "agreementType",
      fieldset: {
        legend: {
          text: "Renewal likely? (optional)"
        }
      },
      items: [
        {
          value: "Yes",
          text: "Yes",
          checked: true
        },
        {
          value: "No",
          text: "No"
        }
      ]
    }) }}


   {{ govukButton({
  text: "Save",
  href: "motability-payment-terminate"
}) }}

  </div>
</div>

{% endblock %}