{% extends "layouts/main.html" %}

{% block pageTitle %}
  Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% from "internal-service-header/macro.njk" import dwpHeader %}

{{
        dwpHeader({
            serviceName: "Disability Living Allowance for Children",
            serviceHref: 'home',
            container: true
        })
}}

<div class="govuk-phase-banner govuk-width-container">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      UX prototype
    </strong>
    <span class="govuk-phase-banner__text">
      This is not the real service. It is not connected to a database, no information you input will be stored.
    </span>
  </p>
</div>


{% endblock %}

{% block content %}

<div class="govuk-grid-row">


<div class="govuk-grid-column-full">

<a href="home" class="govuk-back-link">Back</a>

  <div class="govuk-error-summary" data-module="govuk-error-summary">
  <div role="alert">
    <h2 class="govuk-error-summary__title">
      There is a problem
    </h2>
    <div class="govuk-error-summary__body">
      <ul class="govuk-list govuk-error-summary__list"> 
        <li>
          <a href="#">Enter a valid National Insurance number, for example QQ123456C</a>
          <br>
          <a href="#">Enter a valid payment number, for example '?'</a>
          <br>
           <a href="#">Select a return reason</a>

        </li>
      </ul>
    </div>
  </div>
</div>

<h1 class="govuk-heading-xl">Record returned IOP details</h1>
 

<div class="govuk-form-group govuk-form-group--error">
  <label class="govuk-label" for="sort-code">
    National Insurance number
  </label>
  <div id="sort-code-hint" class="govuk-hint">
    For example, ‘QQ123456C’
  </div>
  <p id="sort-code-error" class="govuk-error-message">
    <span class="govuk-visually-hidden">Error:</span> Enter a valid National Insurance number, for example QQ123456C
  </p>
  <input class="govuk-input govuk-input--width-10 govuk-input--extra-letter-spacing govuk-input--error" id="sort-code" name="sortCode" type="text" spellcheck="false" value="12" aria-describedby="sort-code-hint sort-code-error" inputmode="numeric">
</div>


<div class="govuk-form-group govuk-form-group--error">
  <label class="govuk-label" for="sort-code">
    Payment number
  </label>
  <p id="sort-code-error" class="govuk-error-message">
    <span class="govuk-visually-hidden">Error:</span> Enter a valid payment number, for example '?'
  </p>
  <input class="govuk-input govuk-input--width-10 govuk-input--extra-letter-spacing govuk-input--error" id="sort-code" name="sortCode" type="text" spellcheck="false" value="12" aria-describedby="sort-code-hint sort-code-error" inputmode="numeric">
</div>


   <div class="govuk-form-group--error" style="margin-top: 30px;">
  <label class="govuk-label" for="width-5">
    Return reason
  </label>
    <p id="location-error" class="govuk-error-message">
    <span class="govuk-visually-hidden">Error:</span> Select a return reason
  </p>
  <select class="govuk-select" id="sort" name="sort">
    <option value="published"Select>Select an option</option>
<option value="00">00	- Other </option>
<option value="05">05 - Change of Circs – increased award  </option>
<option value="06">06 - 	Change of Circs – decreased award  </option>
<option value="07">07 - Change of Circs – award cessation  </option>
<option value="08">08 - Change of MOP </option>

<option value="10">10 - Hospitalisation / Certain Other Accom  </option>
<option value="11">11 - Change of Appointee </option>
<option value="12">12 - Change of name </option>
<option value="13">13 - Motability Start – DLA only </option>

<option value="14">14 - Motability End – DLA only </option>
<option value="16">16 - Absence Abroad </option>
<option value="17">17 - On remand / Imprisonment</option>
<option value="20">20 - Overlapping benefit </option>

<option value="21">21 - Death </option>
<option value="22">22 - Defaced</option>
<option value="23">23 - Expired</option>
<option value="24">24 - IOP recalled  </option>

<option value="25">25 - Returned by PO unclaimed </option>
<option value="26">26 - Previously Reported Missing </option>
<option value="27">27 - Reason Unknown </option>
  </select>
</div>
<br>
{% from "govuk/components/button/macro.njk" import govukButton %}

{{ govukButton({
  text: "Save",
  href: "/bank-liasion-details-entered"
}) }}

  </div>


</div>

{% endblock %}
