{% extends "layouts/main.html" %}

{% block pageTitle %}
  Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% from "internal-service-header/macro.njk" import dwpHeader %}

{{
        dwpHeader({
            serviceName: "Disability Living Allowance for Children",
            serviceHref: '#',
            container: true
        })
}}


{% endblock %}

{% block content %}

<div class="govuk-grid-row">


<div class="govuk-grid-column-full">

<a href="/cases-for-checking" class="govuk-back-link">Back</a>

  <h1 class="govuk-heading-l">Case checking details</h1>


  <table class="govuk-table">
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">National Insurance number</th>
        <td class="govuk-table__cell">QQ 12 34 56 X</td>
                <td class="govuk-table__cell"></td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header"><label for=""></label>Full name</th>
        <td class="govuk-table__cell">Jane Smith</td>
        <td class="govuk-table__cell"></td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Date of birth</th>
        <td class="govuk-table__cell">9 May 2006</td>
        <td class="govuk-table__cell">        <strong class="govuk-tag">
          Verified
        </strong></td>

      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Check type</th>
        <td class="govuk-table__cell">10</td>
          <td class="govuk-table__cell"></td>
      </tr>
    </tbody>
  </table>

  <table class="govuk-table">
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Date of death</th>
        <td class="govuk-table__cell"></td>
        <td class="govuk-table__cell"></td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header"><label for=""></label>Verification type</th>
        <td class="govuk-table__cell">03 - new user</td>
        <td class="govuk-table__cell"></td>
      </tr>
    </tbody>
  </table>


  <h1 class="govuk-heading-m">Case checking outcome</h1>



  <label class="govuk-label" for="sort-code">
      Accepted? (optional)
    </label>
  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
      <div class="govuk-radios" data-module="govuk-radios">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="whereDoYouLive-2" name="whereDoYouLive" type="radio" value="scotland">
          <label class="govuk-label govuk-radios__label" for="whereDoYouLive-2">
            Y
          </label>
        </div>
         <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="whereDoYouLive-2" name="whereDoYouLive" type="radio" value="scotland">
          <label class="govuk-label govuk-radios__label" for="whereDoYouLive-2">
            N
          </label>
        </div>
      </div>
    </fieldset>

    <br>

  <label class="govuk-label" for="sort-code">
      Error type (optional)
    </label>
  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
      <div class="govuk-radios" data-module="govuk-radios">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="whereDoYouLive-2" name="whereDoYouLive" type="radio" value="scotland">
          <label class="govuk-label govuk-radios__label" for="whereDoYouLive-2">
            1
          </label>
        </div>
         <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="whereDoYouLive-2" name="whereDoYouLive" type="radio" value="scotland">
          <label class="govuk-label govuk-radios__label" for="whereDoYouLive-2">
            2
          </label>
        </div>
      </div>
    </fieldset>

        <br>
        

<button type="submit" class="govuk-button" data-module="govuk-button">
  Save
</button>

  </div>

</div>

{% endblock %}
