{% extends "layouts/main.html" %}

{% block pageTitle %}
  Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}

{% include './includes/_header.html' %}


{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">

    <button class="dwp-side-navigation__button" data-module="dwp-side-navigation"
      data-target="dwp-side-navigation-panel"
      data-label-hide="Hide navigation"
      data-label-show="Show navigation"
      aria-expanded="false">
      <span class="dwp-side-navigation__section-toggle-focus">
        <span class="dwp-side-navigation__chevron dwp-side-navigation__chevron--down"></span>
        <span class="dwp-side-navigation__section-toggle-text">Show navigation</span>
      </span>
    </button>
    <nav data-module="dwp-side-navigation-panel" class="dwp-side-navigation dwp-side-navigation--mobile" aria-label="Side" role="navigation">
      <ul class="dwp-side-navigation__list">
        </li>
        <li class="dwp-side-navigation__item">
          <a id="s-item-2" href="#s-item-2" class="dwp-side-navigation__link">
            Case summary
          </a>
        </li>
        </li>
        <li class="dwp-side-navigation__item">
          <a id="s-item-2" href="#s-item-2" class="dwp-side-navigation__link">
            Event maintenance
          </a>
        </li>
        <li class="dwp-side-navigation__item dwp-side-navigation__item--selected">
          <a id="s-item-1" href="#s-item-1" class="dwp-side-navigation__link dwp-side-navigation__link--selected" aria-current="true">
            Case details
          </a>
        </li>
        </li>
        <li class="dwp-side-navigation__item">
          <a id="s-item-4" href="#s-item-4" class="dwp-side-navigation__link">
            Delete interest or undecided claim
          </a>
        </li>
        <li class="dwp-side-navigation__item">
          <a id="s-item-5" href="#s-item-5" class="dwp-side-navigation__link">
            Delete decided claim
          </a>
        </li>
        <li class="dwp-side-navigation__item">
          <a id="s-item-6" href="#s-item-6" class="dwp-side-navigation__link">
            Management Unit transfer
          </a>
        </li>
        <li class="dwp-side-navigation__item">
          <a id="s-item-7" href="#s-item-7" class="dwp-side-navigation__link">
            Confirm personal details
          </a>
        </li>
        <li class="dwp-side-navigation__item">
          <a id="s-item-8" href="#s-item-8" class="dwp-side-navigation__link">
            Supplier agreement history
          </a>
        </li>
        <li class="dwp-side-navigation__item">
          <a id="s-item-9" href="#s-item-9" class="dwp-side-navigation__link">
            Motability payments
          </a>
        </li>
        <li class="dwp-side-navigation__item">
          <a id="s-item-10" href="#s-item-10" class="dwp-side-navigation__link">
            Clerical mota payments
          </a>
        </li>
      </ul>
    </nav>
  </div>

<div class="govuk-grid-column-three-quarters">
  <section class="dwp-quick-reference" aria-label="Case information">
    <dl class="dwp-quick-reference__block">
      <dt class="dwp-quick-reference__label govuk-visually-hidden">Name:</dt>
      <dd class="dwp-quick-reference__primary">Jane Smith</dd>
      <dt class="dwp-quick-reference__label dwp-quick-reference__label--primary govuk-visually-hidden">National Insurance number:</dt>
      <dd class="dwp-quick-reference__secondary"><b>National insurance number: </b>QQ 12 34 56 X</dd>
      <dd class="dwp-quick-reference__secondary"><b>Date of birth: </b>9 May 2006 <strong class="govuk-tag">V</strong></dd>
      <dd class="dwp-quick-reference__secondary"><b>Claim status: </b><strong class="govuk-tag">Registered</strong></dd>
    </dl>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

  </section>

<br>

    <table class="govuk-table">
      <tbody class="govuk-table__body">
    <h1 class="govuk-heading-l">Case details</h1>
              <a href="case-details-update">
                <span class="govuk-link govuk-!-font-size-19" style="margin-left: 90%">Change</span>
              </a>


          <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header" style="width: 45%">Receipt date</th>
          <td class="govuk-table__cell" style="width: 45%"> 3 January 2026</td>
          <td class="govuk-table__cell" style="width: 10%"></td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Effective date</th>
          <td class="govuk-table__cell">14 January 2025</td>
          <td class="govuk-table__cell"></td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Flags</th>
          <td class="govuk-table__cell">B, C, F</td>
          <td class="govuk-table__cell"></td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Alternative format flag</th>
          <td class="govuk-table__cell">01</td>
          <td class="govuk-table__cell"></td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Exportability indicator</th>
          <td class="govuk-table__cell">02</td>
          <td class="govuk-table__cell"></td>
        </tr>

      </tbody>
    </table>

  </div>

</div>

{% endblock %}
