{% extends "layouts/main.html" %}

{% block pageTitle %}
  Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}

{% include './includes/_header.html' %}


{% endblock %}

{% block content %}

<div class="govuk-grid-row">

<div class="govuk-grid-column-">
  <section class="dwp-quick-reference" aria-label="Case information">
    <dl class="dwp-quick-reference__block">
      <dt class="dwp-quick-reference__label govuk-visually-hidden">Name:</dt>
      <dd class="dwp-quick-reference__primary">Jane Smith</dd>
      <dt class="dwp-quick-reference__label dwp-quick-reference__label--primary govuk-visually-hidden">National Insurance number:</dt>
      <dd class="dwp-quick-reference__secondary"><b>National insurance number: </b>QQ 12 34 56 X</dd>
      <dd class="dwp-quick-reference__secondary"><b>Date of birth: </b>9 May 2006 <strong class="govuk-tag">V</strong></dd>
      <dd class="dwp-quick-reference__secondary"><b>Claim status: </b><strong class="govuk-tag">Registered</strong></dd>
    </dl>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

  </section>

  {% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{{ govukBackLink({
  text: "Back",
  href: "#"
}) }}

<h1 class="govuk-heading-l">Confirm notification</h1>

{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{{ govukSummaryList({
  rows: [
    {
      key: {
        text: "Addresses"
      },
      value: {
        text: "Mrs Joan"
      },
       actions: {
        items: [ 
        {
            href: "#",
            text: "Change",
            visuallyHiddenText: "date of birth"
          }
        ]
      }
    },
    {
      key: {
        text: "Address"
      },
      value: {
        html: "72 Guild Street<br>London<br>SE23 6FH"
      },
      actions: {
        items: [ 
        {
            href: "#",
            text: "Change",
            visuallyHiddenText: "date of birth"
          }
        ]
      }
    },
    {
      key: {
        text: "Letter purpose"
      },
      value: {
        text: "letter of entitlement"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "date of birth"
          }
        ]
      }
    }
  ]
}) }}

{% from "govuk/components/button/macro.njk" import govukButton %}

{{ govukButton({
  text: "Send"
}) }}

  

  </div>

</div>

{% endblock %}
