{% extends "layouts/main.html" %}

{% block pageTitle %}
  Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}

{% include './includes/_header.html' %}


{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">

    <button class="dwp-side-navigation__button" data-module="dwp-side-navigation"
      data-target="dwp-side-navigation-panel"
      data-label-hide="Hide navigation"
      data-label-show="Show navigation"
      aria-expanded="false">
      <span class="dwp-side-navigation__section-toggle-focus">
        <span class="dwp-side-navigation__chevron dwp-side-navigation__chevron--down"></span>
        <span class="dwp-side-navigation__section-toggle-text">Show navigation</span>
      </span>
    </button>
    <nav data-module="dwp-side-navigation-panel" class="dwp-side-navigation dwp-side-navigation--mobile" aria-label="Side" role="navigation">
      <ul class="dwp-side-navigation__list">
        <li class="dwp-side-navigation__item">
          <a id="s-item-2" href="#s-item-2" class="dwp-side-navigation__link">
            Payment details
          </a>
        </li>
        <li class="dwp-side-navigation__item">
          <a id="s-item-2" href="#s-item-2" class="dwp-side-navigation__link">
            Childs payment details
          </a>
        </li>
        <li class="dwp-side-navigation__item">
          <a id="s-item-3" href="#s-item-3" class="dwp-side-navigation__link">
            Payment history
          </a>
        </li>
        <li class="dwp-side-navigation__item">
          <a id="s-item-4" href="#s-item-4" class="dwp-side-navigation__link">
            Payment breakdown
          </a>
        </li>
        <li class="dwp-side-navigation__item">
          <a id="s-item-5" href="#s-item-5" class="dwp-side-navigation__link">
            Payment location
          </a>
        </li>
        <li class="dwp-side-navigation__item">
          <a id="s-item-6" href="#s-item-6" class="dwp-side-navigation__link">
            Payment adjustment
          </a>
        </li>
        <li class="dwp-side-navigation__item">
          <a id="s-item-7" href="#s-item-7" class="dwp-side-navigation__link">
            Overpayment and clerical calculations
          </a>
        </li>
        <li class="dwp-side-navigation__item dwp-side-navigation__item--selected">
          <a id="s-item-1" href="#s-item-1" class="dwp-side-navigation__link dwp-side-navigation__link--selected" aria-current="true">
            Control details
          </a>
        </li>
        <li class="dwp-side-navigation__item">
          <a id="s-item-9" href="#s-item-9" class="dwp-side-navigation__link">
            Deductions from underpayment
          </a>
        </li>
        <li class="dwp-side-navigation__item">
          <a id="s-item-10" href="#s-item-10" class="dwp-side-navigation__link">
            Payment recall
          </a>
        </li>
        <li class="dwp-side-navigation__item">
          <a id="s-item-11" href="#s-item-11" class="dwp-side-navigation__link">
            Suspend payments
          </a>
        </li>
        <li class="dwp-side-navigation__item">
          <a id="s-item-12" href="#s-item-12" class="dwp-side-navigation__link">
            Boarder payments
          </a>
        </li>
        <li class="dwp-side-navigation__item">
          <a id="s-item-13" href="#s-item-13" class="dwp-side-navigation__link">
            Authorise/refuse replacement
          </a>
        </li>
        <li class="dwp-side-navigation__item">
          <a id="s-item-14" href="#s-item-14" class="dwp-side-navigation__link">
          Payment deductions
          </a>
        </li>
        <li class="dwp-side-navigation__item">
          <a id="s-item-15" href="#s-item-15" class="dwp-side-navigation__link">
            Clerical calculation
          </a>
        </li>
        <li class="dwp-side-navigation__item">
          <a id="s-item-16" href="#s-item-16" class="dwp-side-navigation__link">
            Finalise payment
          </a>
        </li>
      </ul>
    </nav>
  </div>

<div class="govuk-grid-column-three-quarters">
  <section class="dwp-quick-reference" aria-label="Case information">
    <dl class="dwp-quick-reference__block">
      <dt class="dwp-quick-reference__label govuk-visually-hidden">Name:</dt>
      <dd class="dwp-quick-reference__primary">Jane Smith</dd>
      <dt class="dwp-quick-reference__label dwp-quick-reference__label--primary govuk-visually-hidden">National Insurance number:</dt>
      <dd class="dwp-quick-reference__secondary"><b>National insurance number: </b>QQ 12 34 56 X</dd>
      <dd class="dwp-quick-reference__secondary"><b>Date of birth: </b>9 May 2006 <strong class="govuk-tag">V</strong></dd>
      <dd class="dwp-quick-reference__secondary"><b>Claim status: </b><strong class="govuk-tag">Registered</strong></dd>
    </dl>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

  </section>

  <h1 class="govuk-heading-l">Control details</h1>

  <table class="govuk-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">IOP issued</th>
        <td class="govuk-table__cell">Placeholder content</td>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">MOP</th>
        <td class="govuk-table__cell">Placeholder content</td>
      </tr>
       <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Serial no</th>
        <td class="govuk-table__cell">Placeholder content</td>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Status</th>
        <td class="govuk-table__cell">Placeholder content</td>
      </tr>
    </tbody>
  </table>

<br>

    <table class="govuk-table">
      <tbody class="govuk-table__body">
    <h2 class="govuk-heading-m">Missing details</h2>
            
          <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header" style="width: 45%">Date of loss</th>
          <td class="govuk-table__cell" style="width: 45%">Placeholder</td>
          <td class="govuk-table__cell" style="width: 10%"></td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Type of loss</th>
          <td class="govuk-table__cell">Placeholder </td>
          <td class="govuk-table__cell"></td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Declaration issued</th>
          <td class="govuk-table__cell">Placeholder</td>
          <td class="govuk-table__cell"></td>
        </tr>
         <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header" style="width: 45%">Declaration obtained</th>
          <td class="govuk-table__cell" style="width: 45%">Placeholder</td>
          <td class="govuk-table__cell" style="width: 10%"></td>
        </tr>
         <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header" style="width: 45%">First uncashed order</th>
          <td class="govuk-table__cell" style="width: 45%">Placeholder</td>
          <td class="govuk-table__cell" style="width: 10%"></td>
        </tr>
         <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header" style="width: 45%">Nortif/search issued</th>
          <td class="govuk-table__cell" style="width: 45%">Placeholder</td>
          <td class="govuk-table__cell" style="width: 10%"></td>
        </tr>

      </tbody>
    </table>

    <br>

    <table class="govuk-table">
      <tbody class="govuk-table__body">
    <h2 class="govuk-heading-m">Recall details</h2>
            
          <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header" style="width: 45%">Recall date</th>
          <td class="govuk-table__cell" style="width: 45%">Placeholder</td>
          <td class="govuk-table__cell" style="width: 10%"></td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Recall reason</th>
          <td class="govuk-table__cell">Placeholder </td>
          <td class="govuk-table__cell"></td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Last encashment date</th>
          <td class="govuk-table__cell">Placeholder</td>
          <td class="govuk-table__cell"></td>
        </tr>
         <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header" style="width: 45%">Manual OB recall</th>
          <td class="govuk-table__cell" style="width: 45%">Placeholder</td>
          <td class="govuk-table__cell" style="width: 10%"></td>
        </tr>

      </tbody>
    </table>

 <br>

    <table class="govuk-table">
      <tbody class="govuk-table__body">
    <h2 class="govuk-heading-m">Return details</h2>
            
          <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header" style="width: 45%">Return date</th>
          <td class="govuk-table__cell" style="width: 45%">Placeholder</td>
          <td class="govuk-table__cell" style="width: 10%"></td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Reason for return</th>
          <td class="govuk-table__cell">Placeholder </td>
          <td class="govuk-table__cell"></td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">First uncashed order</th>
          <td class="govuk-table__cell">Placeholder</td>
          <td class="govuk-table__cell"></td>
        </tr>

      </tbody>
    </table>

     <br>

    <table class="govuk-table">
      <tbody class="govuk-table__body">
    <h2 class="govuk-heading-m">Stop notice</h2>
            
          <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header" style="width: 45%">Stop notice issued</th>
          <td class="govuk-table__cell" style="width: 45%">Placeholder</td>
          <td class="govuk-table__cell" style="width: 10%"></td>
        </tr>

      </tbody>
    </table>

<br>

    <table class="govuk-table">
      <tbody class="govuk-table__body">
    <h2 class="govuk-heading-m">Replacement details</h2>
            
          <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header" style="width: 45%">Replacement action</th>
          <td class="govuk-table__cell" style="width: 45%">Placeholder</td>
          <td class="govuk-table__cell" style="width: 10%"></td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Repl.auth.date</th>
          <td class="govuk-table__cell">Placeholder </td>
          <td class="govuk-table__cell"></td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">First foil replaced</th>
          <td class="govuk-table__cell">Placeholder</td>
          <td class="govuk-table__cell"></td>
        </tr>
         <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header" style="width: 45%">Replacement payment MOP</th>
          <td class="govuk-table__cell" style="width: 45%">Placeholder</td>
          <td class="govuk-table__cell" style="width: 10%"></td>
        </tr>
         <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header" style="width: 45%">Replacemnet serial No</th>
          <td class="govuk-table__cell" style="width: 45%">Placeholder</td>
          <td class="govuk-table__cell" style="width: 10%"></td>
        </tr>
         <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header" style="width: 45%">Replacement issue date</th>
          <td class="govuk-table__cell" style="width: 45%">Placeholder</td>
          <td class="govuk-table__cell" style="width: 10%"></td>
        </tr>

      </tbody>
    </table>

  </div>

</div>

{% endblock %}
