{% extends "layouts/main.html" %}

{% block pageTitle %}
  Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}

{% include './includes/_header.html' %}


{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">

 <button class="dwp-side-navigation__button" data-module="dwp-side-navigation"
      data-target="dwp-side-navigation-panel"
      data-label-hide="Hide navigation"
      data-label-show="Show navigation"
      aria-expanded="false">
      <span class="dwp-side-navigation__section-toggle-focus">
        <span class="dwp-side-navigation__chevron dwp-side-navigation__chevron--down"></span>
        <span class="dwp-side-navigation__section-toggle-text">Show navigation</span>
      </span>
    </button>
    <nav data-module="dwp-side-navigation-panel" class="dwp-side-navigation dwp-side-navigation--mobile" aria-label="Side" role="navigation">
      <ul class="dwp-side-navigation__list">
        <li class="dwp-side-navigation__item dwp-side-navigation__link">
          <p id="s-item-0" class="govuk-caption-m">
            Input          </p>
        </li>
        <li class="dwp-side-navigation__item">
          <a id="evidence-used-empty" href="evidence-used-empty" class="dwp-side-navigation__link">
            Evidence used for decision
          </a>
        </li>
                <li class="dwp-side-navigation__item">
          <a id="entitlement" href="entitlement" class="dwp-side-navigation__link">
            Entitlement
          </a>
        </li>
        <li class="dwp-side-navigation__item">
          <a id="other-benefits-empty" href="other-benefits-empty" class="dwp-side-navigation__link">
            Other benefits
          </a>
        </li>
        <li class="dwp-side-navigation__item dwp-side-navigation__link">
          <p id="s-item-0" class="govuk-caption-m">
            Payability          </p>
        </li>
        <li class="dwp-side-navigation__item">
          <a id="hospital-and-scheduled-accommodation" href="hospital-and-scheduled-accommodation" class="dwp-side-navigation__link">
            Hospital and scheduled accommodation
          </a>
        </li>
        <li class="dwp-side-navigation__item">
          <a id="lay-evidence-and-exclusions" href="lay-evidence-and-exclusions" class="dwp-side-navigation__link">
            Lay evidence and exclusions
          </a>
        </li>
        <li class="dwp-side-navigation__item dwp-side-navigation__link">
          <p id="s-item-0" class="govuk-caption-m">
            Summary          </p>
        </li>
        <li class="dwp-side-navigation__item">
          <a id="evidence-summary" href="evidence-summary" class="dwp-side-navigation__link">
            Evidence summary
          </a>
        </li>
                <li class="dwp-side-navigation__item dwp-side-navigation__item--selected">
          <a id="decision-summary" href="decision-summary" class="dwp-side-navigation__link dwp-side-navigation__link--selected" aria-current="true"> 
            Decision summary
          </a>
        </li>
        <li class="dwp-side-navigation__item dwp-side-navigation__link">
          <p id="s-item-0" class="govuk-caption-m">
            Enquiry         </p>
        </li>
        <li class="dwp-side-navigation__item">
          <a id="decision-history" href="decision-history" class="dwp-side-navigation__link">
            Decision history
          </a>
        </li>
        <li class="dwp-side-navigation__item">
          <a id="summary-of-payability" href="summary-of-payability" class="dwp-side-navigation__link">
            Summary of payability
          </a>
        </li>
        <li class="dwp-side-navigation__item">
          <a id="previous-events" href="previous-events.html" class="dwp-side-navigation__link">
            Previous events
          </a>
        </li>
        <li class="dwp-side-navigation__item">
          <a id="maintain-reasons-for-decision-empty" href="maintain-reasons-for-decision-empty" class="dwp-side-navigation__link">
            Maintain reasons for decision
          </a>
        </li>
        <li class="dwp-side-navigation__item">
          <a id="picklist" href="picklist" class="dwp-side-navigation__link">
            Picklist
          </a>
        </li>
      </ul>
    </nav>
  </div>


<div class="govuk-grid-column-three-quarters">
  <section class="dwp-quick-reference" aria-label="Case information">
    <dl class="dwp-quick-reference__block">
      <dt class="dwp-quick-reference__label govuk-visually-hidden">Name:</dt>
      <dd class="dwp-quick-reference__primary">Jane Smith</dd>
      <dt class="dwp-quick-reference__label dwp-quick-reference__label--primary govuk-visually-hidden">National Insurance number:</dt>
      <dd class="dwp-quick-reference__secondary"><b>National insurance number: </b>QQ 12 34 56 X</dd>
      <dd class="dwp-quick-reference__secondary"><b>Date of birth: </b>9 May 2006 <strong class="govuk-tag">V</strong></dd>
      <dd class="dwp-quick-reference__secondary"><b>Claim status: </b><strong class="govuk-tag">Registered</strong></dd>
    </dl>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

  </section>

  <h1 class="govuk-heading-l">Decision summary</h1>

  <table class="govuk-table">
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Effective date</th>
        <td class="govuk-table__cell">29 January 2024</td>
      </tr>
    </tbody>
  </table>


<table class="govuk-table">
<thead class="govuk-table__head">
  <tr class="govuk-table__row">
    <th scope="col" class="govuk-table__header">Period</th>
    <th scope="col" class="govuk-table__header">Outcome</th>
    <th scope="col" class="govuk-table__header">Mobility rate</th>
    <th scope="col" class="govuk-table__header">Mobility adjustment reasons</th>
    <th scope="col" class="govuk-table__header">Care rate</th>
    <th scope="col" class="govuk-table__header">Care adjustment reasons</th>
    <th scope="col" class="govuk-table__header">Weekly amount payable</th>
    <th scope="col" class="govuk-table__header">End reason</th>
  </tr>
</thead>
<tbody class="govuk-table__body">
  <tr class="govuk-table__row">
    <td class="govuk-table__cell">19/11/24 to 14/02/25</td>
    <td class="govuk-table__cell">Q02</td>
    <td class="govuk-table__cell">N</td>
    <td class="govuk-table__cell">X</td>
    <td class="govuk-table__cell">H</td>
    <td class="govuk-table__cell">X</td>
    <td class="govuk-table__cell">£59.78</td>
    <td class="govuk-table__cell">N99</td>
</tbody>
<tbody class="govuk-table__body">
  <tr class="govuk-table__row">
    <td class="govuk-table__cell">19/11/24 to 14/02/25</td>
    <td class="govuk-table__cell">Q02</td>
    <td class="govuk-table__cell">N</td>
    <td class="govuk-table__cell">X</td>
    <td class="govuk-table__cell">H</td>
    <td class="govuk-table__cell">X</td>
    <td class="govuk-table__cell">£59.78</td>
    <td class="govuk-table__cell">N99</td>
</tbody>
<tbody class="govuk-table__body">
  <tr class="govuk-table__row">
    <td class="govuk-table__cell">19/11/24 to 14/02/25</td>
    <td class="govuk-table__cell">Q02</td>
    <td class="govuk-table__cell">N</td>
    <td class="govuk-table__cell">X</td>
    <td class="govuk-table__cell">H</td>
    <td class="govuk-table__cell">X</td>
    <td class="govuk-table__cell">£59.78</td>
    <td class="govuk-table__cell">N99</td>
</tbody>
</table>

<div style="text-align: right;">
  <button
    type="submit"
    class="govuk-button govuk-button--secondary govuk-!-margin-bottom-0"
    data-module="govuk-button"
    onclick="window.location.href='add-decision-summary'">
    Add and amend decision summary
  </button>
</div>


  <table class="govuk-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Decision date</th>
        <td class="govuk-table__cell">21 August 2025</td>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Decision type</th>
        <td class="govuk-table__cell"></td>
      </tr>
    </tbody>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Decision notification type</th>
        <td class="govuk-table__cell">S</td>
      </tr>
    </tbody>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">System renewal notification</th>
        <td class="govuk-table__cell">N</td>
      </tr>
    </tbody>
  </table>


</div>

{% endblock %}
