{% extends "layouts/main.html" %}

{% block pageTitle %}
  Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}

{% include './includes/_header.html' %}


{% endblock %}

{% block content %}

<div class="govuk-grid-row">

<div class="govuk-grid-column-full">
  <section class="dwp-quick-reference" aria-label="Case information">
    <dl class="dwp-quick-reference__block">
      <dt class="dwp-quick-reference__label govuk-visually-hidden">Name:</dt>
      <dd class="dwp-quick-reference__primary">Jane Smith</dd>
      <dt class="dwp-quick-reference__label dwp-quick-reference__label--primary govuk-visually-hidden">National Insurance number:</dt>
      <dd class="dwp-quick-reference__secondary"><b>National insurance number: </b>QQ 12 34 56 X</dd>
      <dd class="dwp-quick-reference__secondary"><b>Date of birth: </b>9 May 2006 <strong class="govuk-tag">V</strong></dd>
      <dd class="dwp-quick-reference__secondary"><b>Claim status: </b><strong class="govuk-tag status-tag">CREG - Claim registered</strong></dd>
      <dd class="dwp-quick-reference__secondary"><b>Payment status: </b><strong class="govuk-tag status-tag">NAPR - No automatic payment renewal</strong></dd>
      <dd class="dwp-quick-reference__secondary"><b>Change status: </b><strong class="govuk-tag status-tag">NOTR - No outstanding transaction</strong></dd>
    </dl>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

  </section>

<a href="/decision-history" class="govuk-back-link">Back</a>
  


{% from "govuk/components/tabs/macro.njk" import govukTabs %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% set pastDayHtml %}





          <div class="tab-header">
            <h1 class="govuk-heading-l govuk-!-margin-bottom-!-margin-bottom-0">
              Decision summary
            </h2>
            
          </a>
          </div>


   <table class="govuk-table">
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Decision payment status</th>
        <td class="govuk-table__cell">[populated]</td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Effective date</th>
        <td class="govuk-table__cell">29 Jan 2024</td>
      </tr>
    </tbody>
  </table>


<table class="govuk-table">
<thead class="govuk-table__head">
  <tr class="govuk-table__row">
    <th scope="col" class="govuk-table__header">Period</th>
    <th scope="col" class="govuk-table__header">Outcome</th>
    <th scope="col" class="govuk-table__header">Mobility rate</th>
    <th scope="col" class="govuk-table__header">Mobility adj rsns</th>
    <th scope="col" class="govuk-table__header">Care rate</th>
    <th scope="col" class="govuk-table__header">Care adj rsns</th>
    <th scope="col" class="govuk-table__header">Wkly amnt payable</th>
    <th scope="col" class="govuk-table__header">End rsn</th>
  </tr>
</thead>
<tbody class="govuk-table__body">
  <tr class="govuk-table__row">
    <td class="govuk-table__cell">19 Nov 2024 to 14 Feb 2025</td>
    <td class="govuk-table__cell">Q02 - Initial adjustment for benefit week</td>
    <td class="govuk-table__cell">Low</td>
    <td class="govuk-table__cell">M62 - Not considered - under age (for periods starting on or after 9 April 2001)</td>
    <td class="govuk-table__cell">High</td>
    <td class="govuk-table__cell">C84 - Renal dialysis</td>
    <td class="govuk-table__cell">£59.78</td>
    <td class="govuk-table__cell">N99 - Uprating indicator</td>
</tbody>
<tbody class="govuk-table__body">
  <tr class="govuk-table__row">
    <td class="govuk-table__cell">19 Nov 2024 to 14 Feb 2025</td>
    <td class="govuk-table__cell">Q02 - Initial adjustment for benefit week</td>
    <td class="govuk-table__cell">Low</td>
    <td class="govuk-table__cell">M62 - Not considered - under age (for periods starting on or after 9 April 2001)</td>
    <td class="govuk-table__cell">High</td>
    <td class="govuk-table__cell">C84 - Renal dialysis</td>
    <td class="govuk-table__cell">£59.78</td>
    <td class="govuk-table__cell">N99 - Uprating indicator</td>
</tbody>
<tbody class="govuk-table__body">
  <tr class="govuk-table__row">
    <td class="govuk-table__cell">19 Nov 2024 to 14 Feb 2025</td>
    <td class="govuk-table__cell">Q02 - Initial adjustment for benefit week</td>
    <td class="govuk-table__cell">Low</td>
    <td class="govuk-table__cell">M62 - Not considered - under age (for periods starting on or after 9 April 2001)</td>
    <td class="govuk-table__cell">High</td>
    <td class="govuk-table__cell">C84 - Renal dialysis</td>
    <td class="govuk-table__cell">£59.78</td>
    <td class="govuk-table__cell">N99 - Uprating indicator</td>
</tbody>
</table>
 

{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{{ govukSummaryList({
  rows: [
    {
      key: {
        text: "Decision date"
      },
      value: {
        text: "25 Jan 2025"
      }
    },
       {
      key: {
        text: "Decision type"
      },
      value: {
        text: "02 - Record off-line decision"
      }
    },
       {
      key: {
        text: "Decision notification type"
      },
      value: {
        text: "N"
      }
    },
       {
      key: {
        text: "System renewal notification"
      },
      value: {
        text: "N"
      }
    }
      
  ]
}) }}
{% endset -%}








<div class="govuk-tabs">
  <ul class="govuk-tabs__list">

    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
      <a class="govuk-tabs__tab" href="/decision-history-decision-summary">Decision summary</a>
    </li>

    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="/decision-history-evidence-summary">Evidence summary</a>
    </li>

  </ul>

<div class="govuk-tabs__panel">
  {{ pastDayHtml | safe }}

</div>

  </div>

</div>

{% endblock %}
