{% extends "layouts/main.html" %}

{% block pageTitle %}
  Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}

{% include './includes/_header.html' %}


{% endblock %}

{% block content %}

<div class="govuk-grid-row">

<div class="govuk-grid-column-">
  <section class="dwp-quick-reference" aria-label="Case information">
    <dl class="dwp-quick-reference__block">
      <dt class="dwp-quick-reference__label govuk-visually-hidden">Name:</dt>
      <dd class="dwp-quick-reference__primary">Jane Smith</dd>
      <dt class="dwp-quick-reference__label dwp-quick-reference__label--primary govuk-visually-hidden">National Insurance number:</dt>
      <dd class="dwp-quick-reference__secondary"><b>National insurance number: </b>QQ 12 34 56 X</dd>
      <dd class="dwp-quick-reference__secondary"><b>Date of birth: </b>9 May 2006 <strong class="govuk-tag">V</strong></dd>
      <dd class="dwp-quick-reference__secondary"><b>Claim status: </b><strong class="govuk-tag">Registered</strong></dd>
    </dl>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

  </section>


{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

{{ govukBreadcrumbs({
  items: [
    {
      text: "Decision history",
      href: "decision-history"
    },
    {
      text: "Decision summary",
      href: "decision-history-decision-summary"
    }
  ]
}) }}




          <div class="tab-header">
            <h1 class="govuk-heading-l govuk-!-margin-bottom-0">
              Component details
            </h1>
          </a>
          </div>


  <table class="govuk-table">
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">From</th>
        <td class="govuk-table__cell">29 January 2024</td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">To</th>
        <td class="govuk-table__cell">21 March 2025</td>
      </tr>
       <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Claim outcome</th>
        <td class="govuk-table__cell">[populated]</td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">End reason</th>
        <td class="govuk-table__cell">[populated]</td>
      </tr>
    </tbody>
  </table>


<table class="govuk-table">
<thead class="govuk-table__head">
  <tr class="govuk-table__row">
    <th scope="col" class="govuk-table__header">Component</th>
    <th scope="col" class="govuk-table__header">Rate</th>
    <th scope="col" class="govuk-table__header">Reason</th>
    <th scope="col" class="govuk-table__header">Standard weekly amount</th>
    <th scope="col" class="govuk-table__header">Adj. Reason</th>
    <th scope="col" class="govuk-table__header">Adjusted weekly rate</th>
  </tr>
</thead>
<tbody class="govuk-table__body">
  <tr class="govuk-table__row">
    <th scope="row" class="govuk-table__header">Mobility</th>
    <td class="govuk-table__cell">Q02</td>
    <td class="govuk-table__cell">N</td>
    <td class="govuk-table__cell">X</td>
    <td class="govuk-table__cell">H</td>
    <td class="govuk-table__cell">X</td>
</tbody>
<tbody class="govuk-table__body">
  <tr class="govuk-table__row">
    <th scope="row" class="govuk-table__header">Care</th>
    <td class="govuk-table__cell">Q02</td>
    <td class="govuk-table__cell">N</td>
    <td class="govuk-table__cell">X</td>
    <td class="govuk-table__cell">H</td>
    <td class="govuk-table__cell">X</td>
</tbody>
</table>

 <table class="govuk-table">
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Weekly amount payable</th>
        <td class="govuk-table__cell">£75</td>
    </tbody>
  </table>


{% endblock %}
