{% extends "layouts/main.html" %}

{% block pageTitle %}
  Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}

{% include './includes/_header.html' %}


{% endblock %}

{% block content %}

<div class="govuk-grid-row">

<div class="govuk-grid-column-">
  <section class="dwp-quick-reference" aria-label="Case information">
    <dl class="dwp-quick-reference__block">
      <dt class="dwp-quick-reference__label govuk-visually-hidden">Name:</dt>
      <dd class="dwp-quick-reference__primary">Jane Smith</dd>
      <dt class="dwp-quick-reference__label dwp-quick-reference__label--primary govuk-visually-hidden">National Insurance number:</dt>
      <dd class="dwp-quick-reference__secondary"><b>National insurance number: </b>QQ 12 34 56 X</dd>
      <dd class="dwp-quick-reference__secondary"><b>Date of birth: </b>9 May 2006 <strong class="govuk-tag">V</strong></dd>
      <dd class="dwp-quick-reference__secondary"><b>Claim status: </b><strong class="govuk-tag">Registered</strong></dd>
    </dl>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

  </section>

  {% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{{ govukBackLink({
  text: "Back",
  href: "#"
}) }}

<div class="govuk-error-summary" data-module="govuk-error-summary">
  <div role="alert">
    <h2 class="govuk-error-summary__title">
      There is a problem
    </h2>
    <div class="govuk-error-summary__body">
      <ul class="govuk-list govuk-error-summary__list" style="list-style: none; padding-left: 0;">
        <li>
          <a href="#">Enter an addressee name</li>
        <li>
        <li>
          <a href="#">Enter an address line 1
        <li>
        <li>
          <a href="#">Enter an address line 2
        <li>
        <li>
          <a href="#">Address line 3 cannot contain consecutive spaces
        <li>
        <li>
          <a href="#">Address line 4 requires 2 minimum characters
        <li> 
        <li>
          <a href="#">Postcode must follow valid UK postcode format
        <li>  
        <li>
          <a href="#">Select  a value
        <li>
        <li>
          <a href="#">Select  a value
        <li>
        </a>
      </ul>
    </div>
  </div>
</div>

<h1 class="govuk-heading-l">Enter addressee details</h1>

{{ govukInput({
  id: "addressee-name",
  name: "addresseeName",
  classes: "govuk-!-width-two-thirds",
  label: {
    text: "Addressee name"
  },
  errorMessage: {
    text: "Enter an addressee name"
  }
}) }}


<h2 class="govuk-heading-m">Address</h2>
  
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}

{% call govukFieldset({
  legend: {
    text: "What is your address?",
    classes: "govuk-fieldset__legend--",
    isPageHeading: true
  }
}) %}

{{ govukInput({
  label: {
    text: "Address line 1"
  },
  id: "address-line-1",
  name: "addressLine1",
  autocomplete: "address-line1",
  errorMessage: {
    text: "Enter an address line 1"
  }
}) }}

{{ govukInput({
  label: {
    text: "Address line 2"
  },
  id: "address-line-2",
  name: "addressLine2",
  autocomplete: "address-line2",
  errorMessage: {
    text: "Enter an address line 2"
  }
}) }}

 {{ govukInput({
  label: {
    text: "Address line 3 (optional)"
  },
  classes: "govuk-!-width-two-thirds",
  id: "address-town",
  name: "addressTown",
  autocomplete: "address-level2",
  errorMessage: {
    text: "Address line 3 cannot contain consecutive spaces"
  }
}) }}

{{ govukInput({
  label: {
    text: "Address line 4 (optional)"
  },
  classes: "govuk-!-width-two-thirds",
  id: "address-county",
  name: "addressCounty",
  errorMessage: {
    text: "Address line 4 requires 2 minimum characters"
  }
}) }}

{{ govukInput({
  label: {
    text: "Postcode (optional)"
  },
  classes: "govuk-input--width-10",
  id: "address-postcode",
  name: "addressPostcode",
  autocomplete: "postal-code",
  errorMessage: {
    text: "Postcode must follow valid UK postcode format"
  }
}) }}

  {% from "govuk/components/radios/macro.njk" import govukRadios %}

{{ govukRadios({
  name: "whereDoYouLive",
  fieldset: {
    legend: {
      text: "Subsequent notification flag"
    }
  },
  items: [
    {
      value: "england",
      text: "Yes"
    },
    {
      value: "scotland",
      text: "No"
    }
  ],
  errorMessage: {
    text: "Select an option"
  }
}) }}

  {% from "govuk/components/radios/macro.njk" import govukRadios %}

{{ govukRadios({
  name: "whereDoYouLive",
  fieldset: {
    legend: {
      text: "Representative provided NINO flag"
    }
  },
  items: [
    {
      value: "england",
      text: "Yes"
    },
    {
      value: "scotland",
      text: "No"
    }
  ],
  errorMessage: {
    text: "Select an option"
  }
}) }}

{% endcall %}


{% from "govuk/components/button/macro.njk" import govukButton %}

{{ govukButton({
  text: "Continue"
}) }}

  </div>

</div>

{% endblock %}
