{% extends "layouts/main.html" %}

{% block pageTitle %}
  Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}

{% include './includes/_header.html' %}


{% endblock %}

{% block content %}

<div class="govuk-grid-row">


<div class="govuk-grid-column-full">
  <section class="dwp-quick-reference" aria-label="Case information">
    <dl class="dwp-quick-reference__block">
      <dt class="dwp-quick-reference__label govuk-visually-hidden">Name:</dt>
      <dd class="dwp-quick-reference__primary">Jane Smith</dd>
      <dt class="dwp-quick-reference__label dwp-quick-reference__label--primary govuk-visually-hidden">National Insurance number:</dt>
      <dd class="dwp-quick-reference__secondary"><b>National insurance number: </b>QQ 12 34 56 X</dd>
      <dd class="dwp-quick-reference__secondary"><b>Date of birth: </b>9 May 2006 <strong class="govuk-tag">V</strong></dd>
      <dd class="dwp-quick-reference__secondary"><b>Claim status: </b><strong class="govuk-tag">Registered</strong></dd>
    </dl>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

  </section>

  <h1 class="govuk-heading-l">Entitlement</h1>

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-one-half">
      <div class="govuk-form-group">
  <label class="govuk-label" for="width-10">
    Primary disability
  </label>
  <input class="govuk-input govuk-input--width-10" id="width-10" name="width10" type="text">
</div>
</div>
<div class="govuk-grid-column-one-half">
  <div class="govuk-form-group">
<label class="govuk-label" for="width-10">
Secondard disability
</label>
<input class="govuk-input govuk-input--width-10" id="width-10" name="width10" type="text">
</div>
</div>

                <div class="govuk-grid-column-full">
                  <h3 class="govuk-heading-s">Entitlement 1</h3>
                  </div>
    <div class="govuk-grid-column-one-half">
      <div class="govuk-date-input" id="passport-issued">
      <div class="govuk-date-input__item">
        <p>From</p>
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
            Day
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" inputmode="numeric">
        </div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
            Month
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" inputmode="numeric">
        </div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
            Year
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" inputmode="numeric">
        </div>
      </div>
    </div>

    <div class="govuk-checkboxes" data-module="govuk-checkboxes">
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="nationality" name="nationality" type="checkbox" value="british" aria-describedby="nationality-item-hint">
        <label class="govuk-label govuk-checkboxes__label" for="nationality">
        Indefinite period
        </label>
      </div>
    </div>

<br>
    <div class="govuk-form-group">
  <label class="govuk-label" for="sort">
    Mobility rate
  </label>
  <select class="govuk-select" id="sort" name="sort">
    <option value="published">Option</option>
    <option value="updated" selected></option>
    <option value="views">Option 3</option>
    <option value="comments">Option 4</option>
  </select>
</div>

<div class="govuk-form-group">
<label class="govuk-label" for="sort">
Care rate
</label>
<select class="govuk-select" id="sort" name="sort">
<option value="published">Option</option>
<option value="updated" selected></option>
<option value="views">Option 3</option>
<option value="comments">Option 4</option>
</select>
</div>
    </div>

    <div class="govuk-grid-column-one-half">
      <div class="govuk-date-input" id="passport-issued">
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
            Day
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" inputmode="numeric">
        </div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
            Month
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" inputmode="numeric">
        </div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
            Year
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" inputmode="numeric">
        </div>
      </div>
    </div>
    <div class="govuk-form-group">
  <label class="govuk-label" for="width-5">
  Mobility reason
  </label>
  <input class="govuk-input govuk-input--width-5" id="width-5" name="width5" type="text">
</div>
<div class="govuk-form-group">
  <label class="govuk-label" for="width-5">
    Care reason
  </label>
  <input class="govuk-input govuk-input--width-5" id="width-5" name="width5" type="text">
</div>
    </div>

    <div class="govuk-grid-column-full">
      <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
    Remove
      </button>
  </div>
</div>


        <h3 class="govuk-heading-s">Entitlement 2</h3>
        </div>
<div class="govuk-grid-column-one-half">
<div class="govuk-date-input" id="passport-issued">
<div class="govuk-date-input__item">
<p>From</p>
<div class="govuk-form-group">
<label class="govuk-label govuk-date-input__label" for="passport-issued-day">
  Day
</label>
<input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" inputmode="numeric">
</div>
</div>
<div class="govuk-date-input__item">
<div class="govuk-form-group">
<label class="govuk-label govuk-date-input__label" for="passport-issued-month">
  Month
</label>
<input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" inputmode="numeric">
</div>
</div>
<div class="govuk-date-input__item">
<div class="govuk-form-group">
<label class="govuk-label govuk-date-input__label" for="passport-issued-year">
  Year
</label>
<input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" inputmode="numeric">
</div>
</div>
</div>

<div class="govuk-checkboxes" data-module="govuk-checkboxes">
<div class="govuk-checkboxes__item">
<input class="govuk-checkboxes__input" id="nationality" name="nationality" type="checkbox" value="british" aria-describedby="nationality-item-hint">
<label class="govuk-label govuk-checkboxes__label" for="nationality">
Indefinite period
</label>
</div>
</div>

<br>
<div class="govuk-form-group">
<label class="govuk-label" for="sort">
Mobility rate
</label>
<select class="govuk-select" id="sort" name="sort">
<option value="published">Option</option>
<option value="updated" selected></option>
<option value="views">Option 3</option>
<option value="comments">Option 4</option>
</select>
</div>

<div class="govuk-form-group">
<label class="govuk-label" for="sort">
Care rate
</label>
<select class="govuk-select" id="sort" name="sort">
<option value="published">Option</option>
<option value="updated" selected></option>
<option value="views">Option 3</option>
<option value="comments">Option 4</option>
</select>
</div>
</div>

<div class="govuk-grid-column-one-half">
<div class="govuk-date-input" id="passport-issued">
<div class="govuk-date-input__item">
<div class="govuk-form-group">
<label class="govuk-label govuk-date-input__label" for="passport-issued-day">
  Day
</label>
<input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" inputmode="numeric">
</div>
</div>
<div class="govuk-date-input__item">
<div class="govuk-form-group">
<label class="govuk-label govuk-date-input__label" for="passport-issued-month">
  Month
</label>
<input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" inputmode="numeric">
</div>
</div>
<div class="govuk-date-input__item">
<div class="govuk-form-group">
<label class="govuk-label govuk-date-input__label" for="passport-issued-year">
  Year
</label>
<input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" inputmode="numeric">
</div>
</div>
</div>
<div class="govuk-form-group">
<label class="govuk-label" for="width-5">
Mobility reason
</label>
<input class="govuk-input govuk-input--width-5" id="width-5" name="width5" type="text">
</div>
<div class="govuk-form-group">
<label class="govuk-label" for="width-5">
Care reason
</label>
<input class="govuk-input govuk-input--width-5" id="width-5" name="width5" type="text">
</div>
</div>
<div class="govuk-grid-column-full">
  <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
Remove
  </button>
  </div>


  <div class="govuk-grid-column-full">
    <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
  Add another entitlement
    </button>
    <br>
    <button type="submit" class="govuk-button" data-module="govuk-button">
      Continue
    </button>
</div>

</div>
{% endblock %}
