{% extends "layouts/main.html" %}

{% block pageTitle %}
  Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}

{% include './includes/_header.html' %}


{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">

    <button class="dwp-side-navigation__button" data-module="dwp-side-navigation"
      data-target="dwp-side-navigation-panel"
      data-label-hide="Hide navigation"
      data-label-show="Show navigation"
      aria-expanded="false">
      <span class="dwp-side-navigation__section-toggle-focus">
        <span class="dwp-side-navigation__chevron dwp-side-navigation__chevron--down"></span>
        <span class="dwp-side-navigation__section-toggle-text">Show navigation</span>
      </span>
    </button>
    <nav data-module="dwp-side-navigation-panel" class="dwp-side-navigation dwp-side-navigation--mobile" aria-label="Side" role="navigation">
      <ul class="dwp-side-navigation__list">
        <li class="dwp-side-navigation__item dwp-side-navigation__link">
          <p id="s-item-0" class="govuk-caption-m">
            Input          </p>
        </li>
        <li class="dwp-side-navigation__item">
          <a id="s-item-1" href="#s-item-1" class="dwp-side-navigation__link">
            Evidence used for decision
          </a>
        </li>
        <li class="dwp-side-navigation__item">
          <a id="s-item-2" href="#s-item-2" class="dwp-side-navigation__link">
            Entitlement
          </a>
        </li>
        <li class="dwp-side-navigation__item">
          <a id="s-item-3" href="#s-item-3" class="dwp-side-navigation__link">
            Other benefits
          </a>
        </li>
        <li class="dwp-side-navigation__item dwp-side-navigation__link">
          <p id="s-item-0" class="govuk-caption-m">
            Payability          </p>
        </li>
        <li class="dwp-side-navigation__item">
          <a id="s-item-4" href="#s-item-4" class="dwp-side-navigation__link">
            Hospital and scheduled accommodation
          </a>
        </li>
        <li class="dwp-side-navigation__item">
          <a id="s-item-5" href="#s-item-5" class="dwp-side-navigation__link">
            Lay evidence and exclusions
          </a>
        </li>
        <li class="dwp-side-navigation__item dwp-side-navigation__link">
          <p id="s-item-0" class="govuk-caption-m">
            Summary          </p>
        </li>
        <li class="dwp-side-navigation__item dwp-side-navigation__item--selected">
          <a id="s-item-6" href="#s-item-6" class="dwp-side-navigation__link dwp-side-navigation__link--selected" aria-current="true">
            Evidence summary
          </a>
        </li>
        <li class="dwp-side-navigation__item">
          <a id="s-item-7" href="#s-item-7" class="dwp-side-navigation__link">
            Decision summary
          </a>
        </li>
        <li class="dwp-side-navigation__item dwp-side-navigation__link">
          <p id="s-item-0" class="govuk-caption-m">
            Enquiry         </p>
        </li>
        <li class="dwp-side-navigation__item">
          <a id="s-item-8" href="#s-item-8" class="dwp-side-navigation__link">
            Decision history
          </a>
        </li>
        <li class="dwp-side-navigation__item">
          <a id="s-item-9" href="#s-item-9" class="dwp-side-navigation__link">
            Summary of payability
          </a>
        </li>
        <li class="dwp-side-navigation__item">
          <a id="s-item-10" href="#s-item-10" class="dwp-side-navigation__link">
            Previous events
          </a>
        </li>
        <li class="dwp-side-navigation__item">
          <a id="s-item-11" href="#s-item-11" class="dwp-side-navigation__link">
            Maintain reasons for decision
          </a>
        </li>
        <li class="dwp-side-navigation__item">
          <a id="s-item-12" href="#s-item-12" class="dwp-side-navigation__link">
            Picklist
          </a>
        </li>
      </ul>
    </nav>
  </div>

<div class="govuk-grid-column-three-quarters">
  <section class="dwp-quick-reference" aria-label="Case information">
    <dl class="dwp-quick-reference__block">
      <dt class="dwp-quick-reference__label govuk-visually-hidden">Name:</dt>
      <dd class="dwp-quick-reference__primary">Jane Smith</dd>
      <dt class="dwp-quick-reference__label dwp-quick-reference__label--primary govuk-visually-hidden">National Insurance number:</dt>
      <dd class="dwp-quick-reference__secondary"><b>National insurance number: </b>QQ 12 34 56 X</dd>
      <dd class="dwp-quick-reference__secondary"><b>Date of birth: </b>9 May 2006 <strong class="govuk-tag">V</strong></dd>
      <dd class="dwp-quick-reference__secondary"><b>Claim status: </b><strong class="govuk-tag">Registered</strong></dd>
    </dl>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

  </section>

  <h1 class="govuk-heading-l">Evidence summary</h1>

  <table class="govuk-table">
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Exclusion reason</th>
        <td class="govuk-table__cell"></td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Benefit commencing day</th>
        <td class="govuk-table__cell">Wednesday</td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Benefit week current from</th>
        <td class="govuk-table__cell">17 January 2024</td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Effective date</th>
        <td class="govuk-table__cell">15 October 2023</td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Date of claim</th>
        <td class="govuk-table__cell">13 October 2023</td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Date of death</th>
        <td class="govuk-table__cell">21 August 2025</td>
      </tr>
    </tbody>
  </table>


<table class="govuk-table">
<thead class="govuk-table__head">
  <tr class="govuk-table__row">
    <th scope="col" class="govuk-table__header">Entitlement period</th>
    <th scope="col" class="govuk-table__header">Mobility rate</th>
    <th scope="col" class="govuk-table__header">Mobility reason</th>
    <th scope="col" class="govuk-table__header">Care rate</th>
    <th scope="col" class="govuk-table__header">Care reason</th>
  </tr>
</thead>
<tbody class="govuk-table__body">
  <tr class="govuk-table__row">
    <td class="govuk-table__cell">19/11/2024 to 14/02/2025</td>
    <td class="govuk-table__cell">L</td>
    <td class="govuk-table__cell">M41</td>
    <td class="govuk-table__cell">L</td>
    <td class="govuk-table__cell">C80</td>
  </tr>
</tbody>
</table>

<table class="govuk-table">
<thead class="govuk-table__head">
  <tr class="govuk-table__row">
    <th scope="col" class="govuk-table__header">Evidence period</th>
    <th scope="col" class="govuk-table__header">Reason</th>
    <th scope="col" class="govuk-table__header">Override amount</th>
  </tr>
</thead>
<tbody class="govuk-table__body">
  <tr class="govuk-table__row">
    <td class="govuk-table__cell">19/11/2024 to 14/02/2025</td>
    <td class="govuk-table__cell">L</td>
    <td class="govuk-table__cell">£</td>
  </tr>
</tbody>
</table>


</div>

{% endblock %}
