{% extends "layouts/main.html" %}

{% block pageTitle %}
DLA Child
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  <h1 class="govuk-heading-xl govuk-!-margin-top-7">
    Welcome to DLA Child
  </h1>

  <p class="govuk-body-l">
    Select a category
  </p>

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-one-third">
      <div class="service-tile">
        <h2 class="govuk-heading-m">
                <a href="register-claim" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Register claim</a>

        <p class="govuk-body">
          A short description for the card
        </p>
      </div>
    </div>

    <div class="govuk-grid-column-one-third">
      <div class="service-tile">
        <h2 class="govuk-heading-m">
                  <a href="access-a-registered-case" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Access a case</a>
        <ul class="govuk-list govuk-list--bullet">
          <li>View and amend case, personal and payment details</li>
          <li>Make a new claim decision</li>
          <li>Access notepad</li>
        </ul>
      </div>
    </div>

    <div class="govuk-grid-column-one-third">
      <div class="service-tile">
        <h2 class="govuk-heading-m govuk-!-margin-bottom-0">
                <a href="#" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Deregister a claim</a>
        </h2>

        <p class="govuk-body">
          A short description for the card
        </p>
      </div>
    </div>

  </div>

  <div class="govuk-grid-row govuk-!-margin-top-7">

    <div class="govuk-grid-column-one-third">
      <div class="service-tile">
        <h2 class="govuk-heading-m govuk-!-margin-bottom-0">
                <a href="#" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Close a claim</a>
        </h2>

        <p class="govuk-body">
          A short description for the card
        </p>
      </div>
    </div>

    <div class="govuk-grid-column-one-third">
      <div class="service-tile">
        <h2 class="govuk-heading-m">
                <a href="/cases-for-checking" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Management checks</a>
        </h2>

        <p class="govuk-body">
          A short description for the card (For team leaders)
        </p>
      </div>
    </div>

    <div class="govuk-grid-column-one-third">
      <div class="service-tile">
        <h2 class="govuk-heading-m govuk-!-margin-bottom-0">
                <a href="bank-liasion-record-iop" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Record returned IOP details</a>
        </h2>

        <p class="govuk-body">
         A short description for the card
        </p>
      </div>
    </div>

  </div>

</div>

{% endblock %}
