{% extends "layouts/main.html" %}

{% block pageTitle %}
  Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}

{% include './includes/_header.html' %}


{% endblock %}

{% block content %}

<div class="govuk-grid-row">

<div class="govuk-grid-column-">
  <section class="dwp-quick-reference" aria-label="Case information">
    <dl class="dwp-quick-reference__block">
      <dt class="dwp-quick-reference__label govuk-visually-hidden">Name:</dt>
      <dd class="dwp-quick-reference__primary">Jane Smith</dd>
      <dt class="dwp-quick-reference__label dwp-quick-reference__label--primary govuk-visually-hidden">National Insurance number:</dt>
      <dd class="dwp-quick-reference__secondary"><b>National insurance number: </b>QQ 12 34 56 X</dd>
      <dd class="dwp-quick-reference__secondary"><b>Date of birth: </b>9 May 2006 <strong class="govuk-tag">V</strong></dd>
      <dd class="dwp-quick-reference__secondary"><b>Claim status: </b><strong class="govuk-tag status-tag">CREG - Claim registered</strong></dd>
      <dd class="dwp-quick-reference__secondary"><b>Payment status: </b><strong class="govuk-tag status-tag">NAPR - No automatic payment renewal</strong></dd>
      <dd class="dwp-quick-reference__secondary"><b>Change status: </b><strong class="govuk-tag status-tag">NOTR - No outstanding transaction</strong></dd>
    </dl>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

  </section>

{% from "govuk/components/button/macro.njk" import govukButton %}

<div class="app-heading-action">
  <h1 class="govuk-heading-l govuk-!-margin-bottom-0">
    Notifications test
  </h1>

{{ govukButton({
  text: "Send a notification",
  href: "/Select-a-notification-type",
  classes: "govuk-button--secondary govuk-!-margin-bottom-0"
}) }}


</div>

  <table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Main reason for writing</th>
      <th scope="col" class="govuk-table__header">Notification reference</th>
      <th scope="col" class="govuk-table__header">Issue date</th>

    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
       <td class="govuk-table__cell"><a href="/Notification-details" class="govuk-link">Letter of Entitlement</a></td>
      <td class="govuk-table__cell">DOB123</td>
      <td class="govuk-table__cell">21 Jan 2025</td>

    </tr>
    <tr class="govuk-table__row">
                 <td class="govuk-table__cell"><a href="/Notification-details" class="govuk-link">Parent Guardian responsibilities</a></td>
      <td class="govuk-table__cell">DBD225A</td>
      <td class="govuk-table__cell">21 Jan 2025</td>

    </tr>
    <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="/Notification-details" class="govuk-link">Review of appointment to act (P/G)</a></td>
      <td class="govuk-table__cell">BF57B</td>
      <td class="govuk-table__cell">21 Jan 2025</td>

    </tr>
        <tr class="govuk-table__row">
                 <td class="govuk-table__cell"><a href="/Notification-details" class="govuk-link">Change of account details</a></td>
      <td class="govuk-table__cell">DBD955</td>
      <td class="govuk-table__cell">21 Jan 2025</td>

    </tr>
        <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="/Notification-details" class="govuk-link">Non-payee request</a></td>
      <td class="govuk-table__cell">BD303</td>
      <td class="govuk-table__cell">21 Jan 2025</td>

    </tr>
        <tr class="govuk-table__row">
                  <td class="govuk-table__cell"><a href="/Notification-details" class="govuk-link">Parent Guardian responsibilities</a></td>
      <td class="govuk-table__cell">DBD225A</td>
      <td class="govuk-table__cell">21 Jan 2025</td>

    </tr>
        <tr class="govuk-table__row">
                       <td class="govuk-table__cell"><a href="/Notification-details" class="govuk-link">Review of appointment to act (P/G)</a></td>
                       <td class="govuk-table__cell">BF57B</td>
      <td class="govuk-table__cell">21 Jan 2025</td>

    </tr>
        <tr class="govuk-table__row">
                  <td class="govuk-table__cell"><a href="/Notification-details" class="govuk-link">Change of account details</a></td>
      <td class="govuk-table__cell">DBD955</td>
      <td class="govuk-table__cell">21 Jan 2025</td>

    </tr>
        <tr class="govuk-table__row">
                  <td class="govuk-table__cell"><a href="/Notification-details" class="govuk-link">Review of appointment to act (P/G)</a></td>
      <td class="govuk-table__cell">BF57B</td>
      <td class="govuk-table__cell">21 Jan 2025</td>

    </tr>
        <tr class="govuk-table__row">
                  <td class="govuk-table__cell"><a href="/Notification-details" class="govuk-link">Suppersession</a></td>
      <td class="govuk-table__cell">PIPR11</td>
      <td class="govuk-table__cell">21 Jan 2025</td>

    </tr>
  </tbody>
</table>







  </div>

  {% from "govuk/components/pagination/macro.njk" import govukPagination %}

{{ govukPagination({
  next: {
    href: "#"
  },
  items: [
    {
      number: 1,
      current: true,
      href: "#"
    },
    {
      number: 2,
      href: "#"
    },
    {
      number: 3,
      href: "#"
    }
  ]
}) }}

</div>

{% endblock %}
