{% extends "layouts/main.html" %}

{% block pageTitle %}
  Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}

{% include './includes/_header.html' %}


{% endblock %}

{% block content %}

<div class="govuk-width-container">
<div class="govuk-grid-row">

<div class="govuk-grid-column-full">
  <section class="dwp-quick-reference" aria-label="Case information">
    <dl class="dwp-quick-reference__block">
      <dt class="dwp-quick-reference__label govuk-visually-hidden">Name:</dt>
      <dd class="dwp-quick-reference__primary">Jane Smith</dd>
      <dt class="dwp-quick-reference__label dwp-quick-reference__label--primary govuk-visually-hidden">National Insurance number:</dt>
      <dd class="dwp-quick-reference__secondary"><b>National insurance number: </b>QQ 12 34 56 X</dd>
      <dd class="dwp-quick-reference__secondary"><b>Date of birth: </b>9 May 2006 <strong class="govuk-tag">V</strong></dd>
      <dd class="dwp-quick-reference__secondary"><b>Claim status: </b><strong class="govuk-tag">Registered</strong></dd>
    </dl>


<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

  </section>
    </div>


        <div class="govuk-grid-column-full">
  <a href="/payment-deductions-added" class="govuk-back-link">Back</a>

  <h1 class="govuk-heading-l">Amend a payment deduction</h1>



{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% set adjTypeHtml %}
  {{ govukInput({
    label: {
      text: "Enter adjustment type"
    },
    classes: "govuk-input--width-10",
    id: "adj-type",
    name: "adjType",
    value: "Placeholder"
  }) }}
{% endset %}

{% set recAacHtml %}
  {{ govukInput({
    label: {
      text: "Enter Rec. AAC"
    },
    classes: "govuk-input--width-10",
    id: "rec-aac",
    name: "recAac"
  }) }}
{% endset %}

{{ govukRadios({
  name: "option",
  fieldset: {
    legend: {
      text: "Select an option"
    }
  },
  items: [
    {
      value: "adj-type",
      text: "Adjustment type",
      checked: true,
      conditional: {
        html: adjTypeHtml
      }
    },
    {
      value: "rec-aac",
      text: "Rec. AAC",
      conditional: {
        html: recAacHtml
      }
    }
  ]
}) }}


</div>
        <div class="govuk-grid-column-one-half">
            <p>From</p>
          <div class="govuk-date-input" id="passport-issued">
               <div class="govuk-date-input__item">
                 <div class="govuk-form-group">
                   <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                     Day
                   </label>
                   <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" inputmode="numeric" value="00">
                 </div>
               </div>
               <div class="govuk-date-input__item">
                 <div class="govuk-form-group">
                   <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                     Month
                   </label>
                   <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" inputmode="numeric" value="00">
                 </div>
               </div>
               <div class="govuk-date-input__item">
                 <div class="govuk-form-group">
                   <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                     Year
                   </label>
                   <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" inputmode="numeric" value="0000">
                 </div>
               </div>
             </div>

</div>

<div class="govuk-grid-column-one-half">
  <p>To</p>
  <div class="govuk-date-input" id="passport-issued">
       <div class="govuk-date-input__item">
         <div class="govuk-form-group">
           <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
             Day
           </label>
           <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" inputmode="numeric" value="00">
         </div>
       </div>
       <div class="govuk-date-input__item">
         <div class="govuk-form-group">
           <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
             Month
           </label>
           <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" inputmode="numeric" value="00">
         </div>
       </div>
       <div class="govuk-date-input__item">
         <div class="govuk-form-group">
           <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
             Year
           </label>
           <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" inputmode="numeric" value="0000">
         </div>
       </div>
     </div>

</div>


  <br>

  {{ govukButton({
    text: "Save",
    href: "/payment-deductions-added"
  }) }}

</div>


  </div>

</div>

{% endblock %}
