{% extends "layouts/main.html" %}

{% block pageTitle %}
  Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}

{% include './includes/_header.html' %}


{% endblock %}

{% block content %}

<div class="govuk-width-container">
<div class="govuk-grid-row">

<div class="govuk-grid-column-full">
  <section class="dwp-quick-reference" aria-label="Case information">
    <dl class="dwp-quick-reference__block">
      <dt class="dwp-quick-reference__label govuk-visually-hidden">Name:</dt>
      <dd class="dwp-quick-reference__primary">Jane Smith</dd>
      <dt class="dwp-quick-reference__label dwp-quick-reference__label--primary govuk-visually-hidden">National Insurance number:</dt>
      <dd class="dwp-quick-reference__secondary"><b>National insurance number: </b>QQ 12 34 56 X</dd>
      <dd class="dwp-quick-reference__secondary"><b>Date of birth: </b>9 May 2006 <strong class="govuk-tag">V</strong></dd>
      <dd class="dwp-quick-reference__secondary"><b>Claim status: </b><strong class="govuk-tag">Registered</strong></dd>
    </dl>


<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

  </section>
    </div>


        <div class="govuk-grid-column-full">
  <a href="/payment-deductions" class="govuk-back-link">Back</a>

  <h1 class="govuk-heading-l">Add a payment deduction</h1>



<div class="govuk-form-group">
  <label class="govuk-label" for="sort">
     Adjustment type
  </label>
  <select class="govuk-select" id="sort" name="sort">
    <option value="published"></option>
<option value="001">001 - ATTENDANCE ALLOWANCE REC</option>
<option value="002">002 - CHILD BENEFIT RECY</option>
<option value="004">004 - FAMILY CREDIT RECOVERY</option>
<option value="006">006 - IND DEATH BEN RECOVERY</option>
<option value="007">007 - IND DISABLEMENT PEN RECY </option>

<option value="008">008 - CARER'S ALLOWANCE RECY</option>
<option value="009">009 - INVALIDITY BENEFIT RECY</option>
<option value="010">010 - MATERNITY ALLOWANCE RECY</option>
<option value="011">011 - MOBILITY ALLOWANCE RECY</option>
<option value="012">012 - ONE PARENT BENEFIT RECY</option>

<option value="013">013 - PNEUMO BYSS MIS DIS RECY</option>
<option value="015">015 - RETIREMENT PENSION RECY</option>
<option value="016">016 - SDA RECOVERY</option>
<option value="017">017 - SICKNESS BENEFIT RECY</option>
<option value="018">018 - INCOME SUPPORT RECY</option>


<option value="019">019 - UNEMPLOYMENT BEN RECY</option>
<option value="020">020 - WAR PENSION RECOVERY</option>
<option value="021">021 - WIDOW'S BENEFIT RECOVERY </option>
<option value="023">023 - SOCIAL FUND O/PYT RECY</option>
<option value="029">029 - HOUSING BENEFIT RECY</option>

<option value="032">032 - WAR DISABLEMENT PEN RECY</option>
<option value="033">033 - WAR WIDOW'S PEN RECOVERY </option>
<option value="040">040 - OTHER BENEFIT RECOVERY </option>
<option value="044">044 - DLA RECOVERY</option>
<option value="046">046 - DWA RECOVERY</option>

<option value="048">048 - COMM CHARGE BEN RECY</option>
<option value="049">049 - PENSION CREDIT RECY </option>
<option value="056">056 - RED EARNINGS ALLOW RECY </option>
<option value="057">057 - UNIVERSAL CREDIT RECY </option>
<option value="061">061 - INCAPACITY BENEFIT RECY</option>

<option value="062">062 - JOB SEEKERS ALLOW RECY</option>
<option value="063">063 - EARNINGS TOP UP RECY</option>
<option value="074">074 - SUPPLEMENTARY BEN RECY </option>
<option value="075">075 - COUNCIL TAX RECOVERY </option>
<option value="076">076 - WIDOWED MOTHERS ALL RECY </option>


<option value="085">085 - ESA(C) RECOVERY</option>
<option value="086">086 - ESA(IR) RECOVERY</option>
<option value="091">091 - PASSPORT TO IB RECY</option>
<option value="092">092 - BEREAVEMENT ALLOW RECY</option>
<option value="093">093 - WIDOWED PARENTS ALL RECY</option>

<option value="101">101 - IVS CAR SALE RECOVERY</option>
<option value="102">102 - ENT WHICH CANNOT BE PAID</option>
<option value="201">201 - OFFSET FOR PCA</option>
<option value="202">202 - OFFSET - DLA PAID BY IS</option>
<option value="203">203 - OFFSET - PAID OFF SYSTEM</option>
<option value="204">204 - O/SET TO CORRECT SYS PAY</option>

<option value="210">210 - OFFSET CARE PAID 510 ADJ</option>
<option value="211">211 - OFFSET MOB PAID 511 ADJ</option>
<option value="250">250 - OFFSET AA IN PAYMENT</option>
<option value="251">251 - OFFSET MOBA IN PAYMENT</option>
<option value="299">299 - OFFSET AA COMBINED PYMT</option>

<option value="301">301 - BOARDER OVERPAYMENT REC</option>
<option value="501">501 - DAILY PAYMENT</option>
<option value="502">502 - UNDERPAYMENT - C OF C</option>
<option value="503">503 - UNDERPAYMENT - OTHER RSN</option>
<option value="504">504 - U/PAY - TERM MOTA AG.</option>
<option value="505">505 - U/PAY - PROV MOT AG. INC</option>

<option value="507">507 - PRE-CONVSN U/PAY AA</option>
<option value="508">508 - PRE-CONVSN U/PAY MOBA</option>
<option value="509">509 - PREVIOUS DLA CLAIM U/PAY</option>
<option value="510">510 - BEN SUSP - CARE PAYABLE</option>
<option value="511">511 - BEN SUSP - MOB PAYABLE</option>

<option value="512">512 - SYS GEN U/PAY MOTA AG</option>
<option value="513">513 - LOST FOIL / PARTIAL REPL</option>
<option value="514">514 - MANUAL CALC AUT IN DA480</option>
<option value="520">520 - CHRISTMAS BONUS PAYABLE</option>
<option value="525">525 - BOARDER PAYMENT</option>
<option value="526">526 - BOARDER UNDERPAYMENT</option>
<option value="531">531 - WINTER FUEL SPLIT</option>

<option value="532">532 - WINTER FUEL FULL</option>
<option value="551">551 - CORRECT SYS CALC'D UPYT</option>
<option value="601">601 - EX GRATIA PAYMENT</option>
<option value="602">602 - EXTRA STATUTORY PAYMENT</option>
<option value="603">603 - COMPENSATION PAYMENT</option>
<option value="604">604 - EXCEPTIONAL PAYMENT</option>
<option value="605">605 - SPECIAL COMPEN PAYMENT</option>

<option value="701">701 - OFFSET MOTA AGREEMENT</option>
<option value="800">800 - SYSTEM CALCULATED UPYT</option>
<option value="802">802 - REPLACEMNT SYS GENERATED</option>
<option value="820">820 - XMAS BONUS SYS SCAN</option>

<option value="831">831 - WINTER FUEL SYS SPLIT</option>
<option value="832">832 - WINTER FUEL SYS FULL</option>
<option value="833">833 - ONE-OFF 70+ SPLIT</option>
<option value="834">834 - ONE-OFF 70+ FULL</option>

<option value="835">835 - 80+ ANNUAL PAYMENT SPLIT</option>
<option value="836">836 - 80+ ANNUAL PAYMENT FULL</option>
<option value="837">837 - AGE RELATED PAYMENT SPLT</option>
<option value="838">838 - AGE RELATED PAYMENT FULL</option>

<option value="850">850 - MOTA AGREEMENT DEDUCTION</option>
<option value="852">852 - MOB OFFSET A/W NEW AGRMT</option>
<option value="860">860 - XMAS BONUS SYS GENERATED</option>

<option value="900">900 - SYSTEM CALCULATED OPYT</option>
<option value="901">901 - CLERICAL CALC REQUIRED</option>
<option value="902">902 - CLERICALLY CALC'D OPYT</option>

<option value="920">920 - XMAS BONUS OVERPAYMENT</option>
<option value="926">926 - BOARDER OVERPAYMENT</option>
<option value="951">951 - CORRECT SYS CALC'D OPYT</option>
  </select>
</div>


{% from "govuk/components/input/macro.njk" import govukInput %}

{{ govukInput({
  id: "Weekly rate",
  name: "Weekly rate",
  label: {
    text: "Weekly rate"
  },
  hint: {
    text: "Enter a positive (+) amount for a weekly rate offset, or a negative (-) amount for a deduction."
  },
  prefix: {
    text: "£"
  },
  classes: "govuk-input--width-5",
  spellcheck: false
}) }}

</div>
        <div class="govuk-grid-column-one-half">
            <p>From</p>
          <div class="govuk-date-input" id="passport-issued">
               <div class="govuk-date-input__item">
                 <div class="govuk-form-group">
                   <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                     Day
                   </label>
                   <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" inputmode="numeric">
                 </div>
               </div>
               <div class="govuk-date-input__item">
                 <div class="govuk-form-group">
                   <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                     Month
                   </label>
                   <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" inputmode="numeric">
                 </div>
               </div>
               <div class="govuk-date-input__item">
                 <div class="govuk-form-group">
                   <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                     Year
                   </label>
                   <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" inputmode="numeric">
                 </div>
               </div>
             </div>

</div>

<div class="govuk-grid-column-one-half">
  <p>To</p>
  <div class="govuk-date-input" id="passport-issued">
       <div class="govuk-date-input__item">
         <div class="govuk-form-group">
           <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
             Day
           </label>
           <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" inputmode="numeric">
         </div>
       </div>
       <div class="govuk-date-input__item">
         <div class="govuk-form-group">
           <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
             Month
           </label>
           <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" inputmode="numeric">
         </div>
       </div>
       <div class="govuk-date-input__item">
         <div class="govuk-form-group">
           <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
             Year
           </label>
           <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" inputmode="numeric">
         </div>
       </div>
     </div>

</div>


  <br>

  {{ govukButton({
    text: "Save",
    href: "/payment-deductions-added"
  }) }}

</div>


  </div>

</div>

{% endblock %}
