{% extends "layouts/main.html" %}

{% block pageTitle %}
  Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}

{% include './includes/_header.html' %}


{% endblock %}

{% block content %}

<div class="govuk-grid-row">

<div class="govuk-grid-column-">
  <section class="dwp-quick-reference" aria-label="Case information">
    <dl class="dwp-quick-reference__block">
      <dt class="dwp-quick-reference__label govuk-visually-hidden">Name:</dt>
      <dd class="dwp-quick-reference__primary">Jane Smith</dd>
      <dt class="dwp-quick-reference__label dwp-quick-reference__label--primary govuk-visually-hidden">National Insurance number:</dt>
      <dd class="dwp-quick-reference__secondary"><b>National insurance number: </b>QQ 12 34 56 X</dd>
      <dd class="dwp-quick-reference__secondary"><b>Date of birth: </b>9 May 2006 <strong class="govuk-tag">V</strong></dd>
      <dd class="dwp-quick-reference__secondary"><b>Claim status: </b><strong class="govuk-tag">Registered</strong></dd>
    </dl>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

  </section>

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{{ govukBackLink({
  text: "Back",
  href: "payment-history"
}) }}
  

{% from "govuk/components/tabs/macro.njk" import govukTabs %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% set pastDayHtml %}





          <div class="tab-header">
            <h1 class="govuk-heading-l govuk-!-margin-bottom-!-margin-bottom-0">
              Payment adjustment
            </h2>
          </a>
          </div>

  <table class="govuk-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Award ends</th>
        <td class="govuk-table__cell">Placeholder</td>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Paid to</th>
        <td class="govuk-table__cell">Placeholder</td>
      </tr>
  </table>

  <table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Opt</th>
      <th scope="col" class="govuk-table__header">Adjustment type</th>
      <th scope="col" class="govuk-table__header">Amount</th>
      <th scope="col" class="govuk-table__header">Stat</th>
      <th scope="col" class="govuk-table__header">Period from</th>
      <th scope="col" class="govuk-table__header">To</th>
      <th scope="col" class="govuk-table__header">No wks</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><a href="/calculation-breakdown-tab" class="govuk-link">01</a></td>
      <td class="govuk-table__cell">[populated]</td>
      <td class="govuk-table__cell">£100.00</td>
      <td class="govuk-table__cell">5</td>
      <td class="govuk-table__cell">12 Jan 2026</td>
      <td class="govuk-table__cell">12 Jan 2026</td>
      <td class="govuk-table__cell">5</td>
        </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><a href="/calculation-breakdown-tab" class="govuk-link">02</a></td>
      <td class="govuk-table__cell">[populated]</td>
      <td class="govuk-table__cell">£100.00</td>
      <td class="govuk-table__cell">5</td>
      <td class="govuk-table__cell">12 Jan 2026</td>
      <td class="govuk-table__cell">12 Jan 2026</td>
      <td class="govuk-table__cell">5</td>
        <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><a href="/calculation-breakdown-tab" class="govuk-link">03</a></td>
      <td class="govuk-table__cell">[populated]</td>
      <td class="govuk-table__cell">£100.00</td>
      <td class="govuk-table__cell">5</td>
      <td class="govuk-table__cell">12 Jan 2026</td>
      <td class="govuk-table__cell">12 Jan 2026</td>
      <td class="govuk-table__cell">5</td>
        <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><a href="/calculation-breakdown-tab" class="govuk-link">04</a></td>
      <td class="govuk-table__cell">[populated]</td>
      <td class="govuk-table__cell">£100.00</td>
      <td class="govuk-table__cell">5</td>
      <td class="govuk-table__cell">12 Jan 2026</td>
      <td class="govuk-table__cell">12 Jan 2026</td>
      <td class="govuk-table__cell">5</td>
        <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><a href="/calculation-breakdown-tab" class="govuk-link">05</a></td>
      <td class="govuk-table__cell">[populated]</td>
      <td class="govuk-table__cell">£100.00</td>
      <td class="govuk-table__cell">5</td>
      <td class="govuk-table__cell">12 Jan 2026</td>
      <td class="govuk-table__cell">12 Jan 2026</td>
      <td class="govuk-table__cell">5</td>
        <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><a href="/calculation-breakdown-tab" class="govuk-link">06</a></td>
      <td class="govuk-table__cell">[populated]</td>
      <td class="govuk-table__cell">£100.00</td>
      <td class="govuk-table__cell">5</td>
      <td class="govuk-table__cell">12 Jan 2026</td>
      <td class="govuk-table__cell">12 Jan 2026</td>
      <td class="govuk-table__cell">5</td>
        <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><a href="/calculation-breakdown-tab" class="govuk-link">07</a></td>
      <td class="govuk-table__cell">[populated]</td>
      <td class="govuk-table__cell">£100.00</td>
      <td class="govuk-table__cell">5</td>
      <td class="govuk-table__cell">12 Jan 2026</td>
      <td class="govuk-table__cell">12 Jan 2026</td>
      <td class="govuk-table__cell">5</td>
        <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><a href="/calculation-breakdown-tab" class="govuk-link">08</a></td>
      <td class="govuk-table__cell">[populated]</td>
      <td class="govuk-table__cell">£100.00</td>
      <td class="govuk-table__cell">5</td>
      <td class="govuk-table__cell">12 Jan 2026</td>
      <td class="govuk-table__cell">12 Jan 2026</td>
      <td class="govuk-table__cell">5</td>
        <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><a href="/calculation-breakdown-tab" class="govuk-link">09</a></td>
      <td class="govuk-table__cell">[populated]</td>
      <td class="govuk-table__cell">£100.00</td>
      <td class="govuk-table__cell">5</td>
      <td class="govuk-table__cell">12 Jan 2026</td>
      <td class="govuk-table__cell">12 Jan 2026</td>
      <td class="govuk-table__cell">5</td>
        <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><a href="/calculation-breakdown-tab" class="govuk-link">10</a></td>
      <td class="govuk-table__cell">[populated]</td>
      <td class="govuk-table__cell">£100.00</td>
      <td class="govuk-table__cell">5</td>
      <td class="govuk-table__cell">12 Jan 2026</td>
      <td class="govuk-table__cell">12 Jan 2026</td>
      <td class="govuk-table__cell">5</td>
        <tbody class="govuk-table__body">
</table>

{% from "govuk/components/pagination/macro.njk" import govukPagination %}

{{ govukPagination({
  next: {
    href: "#"
  },
  items: [
    {
      number: 1,
      current: true,
      href: "#"
    },
    {
      number: 2,
      href: "#"
    },
    {
      number: 3,
      href: "#"
    }
  ]
}) }}

  </div>

</div>
  </div>

</div>



{% endset -%}







<div class="govuk-tabs">
  <ul class="govuk-tabs__list">

    <li class="govuk-tabs__list-item">

  <a class="govuk-tabs__tab" href="/payment-breakdown">Payment<br>breakdown</a>

    </li>
        <li class="govuk-tabs__list-item">

<a class="govuk-tabs__tab" href="/payment-location">Payment<br>location</a>
    </li>

        <li class="govuk-tabs__list-item">
  <a class="govuk-tabs__tab" href="/control-details-tab">Control<br>details</a>

    </li>

              <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
  <a class="govuk-tabs__tab" href="/payment-adjustment-tab">Payment<br>adjustment</a>

    </li>

        <li class="govuk-tabs__list-item">
  <a class="govuk-tabs__tab" href="/clerical-calcs-tab">Clerical<br>calculations</a>

    </li>

  </ul>

  <div class="govuk-tabs__panel">
    {{ pastDayHtml | safe }}
  </div>
</div>






  </div>

</div>

{% endblock %}
