{% extends "layouts/main.html" %}

{% block pageTitle %}
  Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}

{% include './includes/_header.html' %}


{% endblock %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-three-quarters">
  <section class="dwp-quick-reference" aria-label="Case information">
    <dl class="dwp-quick-reference__block">
      <dt class="dwp-quick-reference__label govuk-visually-hidden">Name:</dt>
      <dd class="dwp-quick-reference__primary">Jane Smith</dd>
      <dt class="dwp-quick-reference__label dwp-quick-reference__label--primary govuk-visually-hidden">National Insurance number:</dt>
      <dd class="dwp-quick-reference__secondary"><b>National insurance number: </b>QQ 12 34 56 X</dd>
      <dd class="dwp-quick-reference__secondary"><b>Date of birth: </b>9 May 2006 <strong class="govuk-tag">V</strong></dd>
      <dd class="dwp-quick-reference__secondary"><b>Claim status: </b><strong class="govuk-tag">Registered</strong></dd>
    </dl>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

  </section>


  </section>
<a href="#" class="govuk-back-link">Back</a>
  <h1 class="govuk-heading-l">Add new person</h1>

{{ govukInput({
  label: {
    text: "Surname"
  },
  classes: "govuk-input--width-20",
  id: "width-20",
  name: "width20"
}) }}

  {{ govukInput({
  label: {
    text: "First name"
  },
  classes: "govuk-input--width-20",
  id: "width-20",
  name: "width20"
}) }}

{{ govukInput({
  label: {
    text: "Oth. Intl"
  },
  classes: "govuk-input--width-3",
  id: "width-3",
  name: "width3"
}) }}

{{ govukInput({
  label: {
    text: "NINO"
  },
  classes: "govuk-input--width-10",
  id: "width-10",
  name: "width10"
}) }}

{{ govukInput({
  label: {
    text: "S. Ind"
  },
  classes: "govuk-input--width-2",
  id: "width-2",
  name: "width2"
}) }}

{{ govukSelect({
  id: "sort",
  name: "sort",
  label: {
    text: "Relationship type"
  },
  items: [
    {
      value: "published",
      text: "Parent/Guardian"
    },
    {
      value: "updated",
      text: "Parent/Guardian",
      selected: true
    },
    {
      value: "views",
      text: "Parent/Guardian"
    },
    {
      value: "comments",
      text: "Parent/Guardian"
    }
  ]
}) }}

{{ govukButton({
  text: "Save"
}) }}

  </div>

</div>

{% endblock %}
