{% extends "layouts/main.html" %}

{% block pageTitle %}
  Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}

{% include './includes/_header.html' %}


{% endblock %}

{% block content %}

<div class="govuk-grid-row">

<div class="govuk-grid-column-">
  <section class="dwp-quick-reference" aria-label="Case information">
    <dl class="dwp-quick-reference__block">
      <dt class="dwp-quick-reference__label govuk-visually-hidden">Name:</dt>
      <dd class="dwp-quick-reference__primary">Jane Smith</dd>
      <dt class="dwp-quick-reference__label dwp-quick-reference__label--primary govuk-visually-hidden">National Insurance number:</dt>
      <dd class="dwp-quick-reference__secondary"><b>National insurance number: </b>QQ 12 34 56 X</dd>
      <dd class="dwp-quick-reference__secondary"><b>Date of birth: </b>9 May 2006 <strong class="govuk-tag">V</strong></dd>
      <dd class="dwp-quick-reference__secondary"><b>Claim status: </b><strong class="govuk-tag">Registered</strong></dd>
    </dl>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

  </section>

<a href="/previous-events" class="govuk-back-link">Back</a>
  


{% from "govuk/components/tabs/macro.njk" import govukTabs %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% set pastDayHtml %}





          <div class="tab-header">
            <h1 class="govuk-heading-l govuk-!-margin-bottom-!-margin-bottom-0">
              Reasons for decision
            </h2>
            
          </a>
          </div>


   <table class="govuk-table">
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Event</th>
        <td class="govuk-table__cell">[populated]</td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Receipt</th>
        <td class="govuk-table__cell">[populated]</td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Effective</th>
        <td class="govuk-table__cell">[populated]</td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Decision made</th>
        <td class="govuk-table__cell">[populated]</td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">End/notif</th>
        <td class="govuk-table__cell">[populated]</td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Ev.C</th>
        <td class="govuk-table__cell">[populated]</td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Outcome</th>
        <td class="govuk-table__cell">[populated]</td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Failure to notify</th>
        <td class="govuk-table__cell">[populated]</td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">ACM Grounds</th>
        <td class="govuk-table__cell">[populated]</td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Secured date</th>
        <td class="govuk-table__cell">[populated]</td>
      </tr>
    </tbody>
  </table>

  <div style="display: flex; justify-content: space-between; align-items: center;">
  <h2 class="govuk-heading-m govuk-!-margin-bottom-0">
    Evidence
  </h2>
</div>

  <table class="govuk-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Code</th>
        <td class="govuk-table__cell">02</td>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Type</th>
        <td class="govuk-table__cell">Claim form, Fee paying medical evidence, Telephone call</td>
      </tr>
    </tbody>
  </table>

 
{% endset -%}


<div class="govuk-tabs">
  <ul class="govuk-tabs__list">

    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
      <a class="govuk-tabs__tab" href="/previous-events-reasons">Reasons for decision</a>
    </li>

    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="/previous-events-evidence">Evidence used</a>
    </li>

  </ul>

<div class="govuk-tabs__panel">
  {{ pastDayHtml | safe }}

</div>

  </div>

</div>

{% endblock %}



