{% extends "layouts/main.html" %}

{% block pageTitle %}
  Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}

{% include './includes/_header.html' %}


{% endblock %}

{% block content %}

<div class="govuk-grid-row">

<div class="govuk-grid-column-three-quarters">
  <section class="dwp-quick-reference" aria-label="Case information">
    <dl class="dwp-quick-reference__block">
      <dt class="dwp-quick-reference__label govuk-visually-hidden">Name:</dt>
      <dd class="dwp-quick-reference__primary">Jane Smith</dd>
      <dt class="dwp-quick-reference__label dwp-quick-reference__label--primary govuk-visually-hidden">National Insurance number:</dt>
      <dd class="dwp-quick-reference__secondary"><b>National insurance number: </b>QQ 12 34 56 X</dd>
      <dd class="dwp-quick-reference__secondary"><b>Date of birth: </b>9 May 2006 <strong class="govuk-tag">V</strong></dd>
      <dd class="dwp-quick-reference__secondary"><b>Claim status: </b><strong class="govuk-tag">Registered</strong></dd>
    </dl>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

<a href="/display-payments" class="govuk-back-link">Back</a>


  <h1 class="govuk-heading-l">Recall payment</h1>

  <table class="govuk-table">
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Amount</th>
        <td class="govuk-table__cell">[Placeholder]</td>
      </tr>
         <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">From</th>
        <td class="govuk-table__cell">[Placeholder]</td>
      </tr>
             <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">To</th>
        <td class="govuk-table__cell">[Placeholder]</td>
      </tr>
  </table>



      <div class="govuk-form-group">
  <label class="govuk-label" for="sort">
    Recall reason code
  </label>
  <select class="govuk-select" id="sort" name="sort">
    <option value="published"></option>
    <option value="views">00 - Other</option>
    <option value="views">05 - Change of circumstances - Increased award </option>
    <option value="views">06 - Change of circumstances - Decreased award </option>
    <option value="views">07 - Change of circumstances - Award cessation </option>
    <option value="views">08 - Change of method of payment </option>
    <option value="views">09 - Change in deduction </option>
    <option value="views">10 - Hospitalisation / Certain Other Accom </option>
    <option value="views">11 - Change of appointee </option>
    <option value="views">12 - Change in name </option>
    <option value="views">13 - Start of Motability agreement - DLA only </option>
    <option value="views">14 - End of Motability agreement - DLA only </option>
    <option value="views">15 - Suspected fraud </option>
    <option value="views">16 - Absence Abroad </option>
    <option value="views">17 - On remand/Imprisonment </option>
    <option value="views">18 - Foil on OB reported missing  </option>
    <option value="views">19 - Previous IOP missing/returned  </option>
    <option value="views">20 - Overlapping benefit </option>
    <option value="views">21 - Death </option>
    <option value="views">41 - Change of account details </option>
    <option value="views">42 - Self-funder in Residential accommodation </option>
  </select>
</div>

{% from "govuk/components/button/macro.njk" import govukButton %}

{{ govukButton({
  text: "Recall",
  href: "/display-payments"
}) }}


</div>

{% endblock %}
