{% extends "layouts/main.html" %}

{% block pageTitle %}
  Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}

{% include './includes/_header.html' %}


{% endblock %}

{% block content %}

<div class="govuk-grid-row">


<div class="govuk-grid-column-full">
  <section class="dwp-quick-reference" aria-label="Case information">
    <dl class="dwp-quick-reference__block">
      <dt class="dwp-quick-reference__label govuk-visually-hidden">Name:</dt>
      <dd class="dwp-quick-reference__primary">Jane Smith</dd>
      <dt class="dwp-quick-reference__label dwp-quick-reference__label--primary govuk-visually-hidden">National Insurance number:</dt>
      <dd class="dwp-quick-reference__secondary"><b>National insurance number: </b>QQ 12 34 56 X</dd>
      <dd class="dwp-quick-reference__secondary"><b>Date of birth: </b>9 May 2006 <strong class="govuk-tag">V</strong></dd>
      <dd class="dwp-quick-reference__secondary"><b>Claim status: </b><strong class="govuk-tag">Registered</strong></dd>
    </dl>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

  </section>

<a href="#" class="govuk-back-link">Back</a>

<h1 class="govuk-heading-l">Record an agreement</h1>

{{ govukInput({
  label: {
    text: "Supplier reference"
  },
  classes: "govuk-!-width-one-half",
  id: "one-half",
  name: "oneHalf"
}) }}

{{ govukInput({
  label: {
    text: "Customer ref no."
  },
  classes: "govuk-!-width-one-half",
  id: "one-half",
  name: "oneHalf"
}) }}

{{ govukInput({
  label: {
    text: "Agrmt ref no"
  },
  classes: "govuk-!-width-one-half",
  id: "one-half",
  name: "oneHalf"
}) }}

{{ govukInput({
  label: {
    text: "Join X-ref no."
  },
  classes: "govuk-!-width-one-half",
  id: "one-half",
  name: "oneHalf"
}) }}


<h2 class="govuk-heading-m">Provisional</h2>

{% from "govuk/components/date-input/macro.njk" import govukDateInput %}

{{ govukDateInput({
  id: "passport-issued",
  namePrefix: "passport-issued",
  fieldset: {
    legend: {
      text: "From"
    }
  }
}) }}

{{ govukInput({
  label: {
    text: "Cancel?"
  },
  classes: "govuk-!-width-one-half",
  id: "one-half",
  name: "oneHalf"
}) }}

<h2 class="govuk-heading-m">Agreement</h2>

{{ govukInput({
  label: {
    text: "Agreement type"
  },
  classes: "govuk-!-width-one-half",
  id: "one-half",
  name: "oneHalf"
}) }}





<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">

    <p class="govuk-body">From</p>

    {{ govukDateInput({
      id: "from-date",
      namePrefix: "from-date",
      fieldset: {
        legend: {
          text: "",
          classes: "govuk-visually-hidden"
        }
      }
    }) }}

  </div>

  <div class="govuk-grid-column-one-half">

    <p class="govuk-body">To</p>

    {{ govukDateInput({
      id: "to-date",
      namePrefix: "to-date",
      fieldset: {
        legend: {
          text: "",
          classes: "govuk-visually-hidden"
        }
      }
    }) }}

  </div>
</div>


{% from "govuk/components/input/macro.njk" import govukInput %}

{{ govukInput({
  id: "cost",
  name: "cost",
  label: {
    text: "4 weekly ammount",
    classes: "govuk-body--m",
    isPageHeading: true
  },
  prefix: {
    text: "£"
  },
  classes: "govuk-input--width-5",
  spellcheck: false
}) }}




{{ govukInput({
  label: {
    text: "No. weekly payments"
  },
  classes: "govuk-!-width-one-half",
  id: "one-half",
  name: "oneHalf"
}) }}

{{ govukInput({
  label: {
    text: "Wheelchair?"
  },
  classes: "govuk-!-width-one-half",
  id: "one-half",
  name: "oneHalf"
}) }}

{{ govukInput({
  label: {
    text: "Transferred agreement - pay supplier from"
  },
  classes: "govuk-!-width-one-half",
  id: "one-half",
  name: "oneHalf"
}) }}


{% from "govuk/components/button/macro.njk" import govukButton %}

{{ govukButton({
  text: "Save"
}) }}

{% endblock %}
