{% extends "layouts/main.html" %}

{% block pageTitle %}
  Amend agreement – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block header %}
  {% include './includes/_header.html' %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <section class="dwp-quick-reference" aria-label="Case information">
      <dl class="dwp-quick-reference__block">

        <dd class="dwp-quick-reference__primary">
          Miss Jane Smith
        </dd>

        <dd class="dwp-quick-reference__secondary">
          <strong>National insurance number:</strong> QQ123456B
        </dd>

        <dd class="dwp-quick-reference__secondary">
          <strong>Date of Birth:</strong> 09 May 2006
          <strong class="govuk-tag">V</strong>
        </dd>

        <dd class="dwp-quick-reference__secondary">
          <strong>Claim status:</strong>
          <strong class="govuk-tag">R - REGISTERED</strong>
        </dd>

      </dl>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    </section>

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{{ govukBackLink({
  text: "Back",
  href: "record-supplier-clerical-payment-empty"
}) }}

    <h1 class="govuk-heading-l">
      Add or amend a payment/recovery
    </h1>

<div class="govuk-error-summary" data-module="govuk-error-summary">
  <div role="alert">
    <h2 class="govuk-error-summary__title">
      There is a problem
    </h2>
    <div class="govuk-error-summary__body">
      <ul class="govuk-list govuk-error-summary__list" style="list-style: none; padding-left: 0;">
        <li>
          <a href="#">Select a valid payment reason</li>
        <li>
          <li>
          <a href="#">Enter a valid details for supplier date</li>
        <li>
          <li>
             <li>
          <li>
          <a href="#">Enter a valid amount</li>
        <li>
          </li>
           <li>
          <li>
          <a href="#">Enter a valid from date</li>
        <li>
            <li>
                <li>
          <li>
          <a href="#">Enter a valid to date</li>
        <li>
            <li>
                  <li>
                <li>
          <li>
          <a href="#">Enter a valid amount</li>
        <li>
            <li>
          <li>
        </a>
      </ul>
    </div>
  </div>
</div>

{% from "govuk/components/select/macro.njk" import govukSelect %}

{{ govukSelect({
  id: "sort",
  name: "sort",
  errorMessage: {
    text: "Must select a payment reason"
  },
  label: {
    text: "Payment reason"
  },
  items: [
    {
      value: "",
      text: "Select a payment reason"
    },
    {
      value: "51",
      text: "51 - Actual term date later (not in hosp)"
    },
    {
      value: "52",
      text: "52 - Customer PUTD included MOB"
    },
    {
      value: "53",
      text: "53 - SoFS allows payment at end of agreement"
    },
    {
      value: "54",
      text: "54 - Supplier query - payment correction"
    },
    {
      value: "55",
      text: "55 - Payment correction"
    },
    {
      value: "56",
      text: "56 - Part payment to customer returned"
    },
    {
      value: "57",
      text: "57 - No further entitlement to HRMC"
    },
    {
      value: "58",
      text: "58 - Actual term date later (in hosp)"
    },
    {
      value: "61",
      text: "61 - Actual term date earlier"
    },
    {
      value: "62",
      text: "62 - No further entitlement to HRMC"
    },
    {
      value: "63",
      text: "63 - No payability for period"
    },
    {
      value: "64",
      text: "64 - Supplier query recovery to correct payment"
    },
    {
      value: "65",
      text: "65 - Recovery to correct payment"
    },
    {
      value: "66",
      text: "66 - Part payment to customer realised"
    }
  ]
}) }}

    <h2 class="govuk-heading-m">
      Relevent details for supplier
    </h2>

    {{ govukDateInput({
  id: "provisional-from-date",
  namePrefix: "provisional-from-date",
  fieldset: {
    legend: {
      text: "From"
    }
  },
  hint: {
    text: "For example, 27 3 2007"
  },
  errorMessage: {
    text: "Enter a valid from date"
  }
}) }}

   {{ govukInput({
  id: "weekly-amount",
  name: "weeklyAmount",
  label: {
    text: "Amount"
  },
  prefix: {
    text: "£"
  },
  errorMessage: {
    text: "Must enter valid amount"
  },
  value: "",
  classes: "govuk-input--width-10"
}) }}

    <h2 class="govuk-heading-m">
      Payment/recovery period
    </h2>

    <div class="govuk-grid-row">

      <div class="govuk-grid-column-one-half">

        {{ govukDateInput({
  id: "provisional-from-date",
  namePrefix: "provisional-from-date",
  fieldset: {
    legend: {
      text: "From"
    }
  },
  hint: {
    text: "For example, 27 3 2007"
  },
  errorMessage: {
    text: "Enter a valid from date"
  }
}) }}

      </div>

      <div class="govuk-grid-column-one-half">

        {{ govukDateInput({
  id: "provisional-from-date",
  namePrefix: "provisional-from-date",
  fieldset: {
    legend: {
      text: "To"
    }
  },
  hint: {
    text: "For example, 27 3 2007"
  },
  errorMessage: {
    text: "Enter a valid to date"
  }
}) }}

      </div>

    </div>

   {{ govukInput({
  id: "weekly-amount",
  name: "weeklyAmount",
  label: {
    text: "Amount"
  },
  prefix: {
    text: "£"
  },
  errorMessage: {
    text: "Must enter valid amount"
  },
  value: "",
  classes: "govuk-input--width-10"
}) }}

{% from "govuk/components/radios/macro.njk" import govukRadios %}
{{ govukRadios({
  name: "wheelchair",
  fieldset: {
    legend: {
      text: "Cancel clerical payment? (optional)"
    }
  },
  items: [
    {
      value: "yes",
      text: "Yes"
    },
    {
      value: "no",
      text: "No"
    }
  ]
}) }}


   {{ govukButton({
  text: "Save",
  href: "record-supplier-clerical-payment"
}) }}

  </div>
</div>

{% endblock %}