{% extends "layouts/main.html" %}

{% block pageTitle %}
  Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% from "internal-service-header/macro.njk" import dwpHeader %}

{{
        dwpHeader({
            serviceName: "Disability Living Allowance for Children",
            serviceHref: '#',
            container: true
        })
}}


{% endblock %}

{% block content %}

<div class="govuk-grid-row">


<div class="govuk-grid-column-full">

<a href="reg-claim-child-details-pg" class="govuk-back-link">Back</a>

<h1 class="govuk-heading-l">Add case details</h1>

<div class="govuk-error-summary" data-module="govuk-error-summary">
  <div role="alert">
    <h2 class="govuk-error-summary__title">
      There is a problem
    </h2>
    <div class="govuk-error-summary__body">
      <ul class="govuk-list govuk-error-summary__list" style="list-style: none; padding-left: 0;">
        <li>
          <a href="#">Enter a valid receipt date  </li>
        <li>
          <li>
          <a href="#">Enter a valid effective date  </li>
        <li>
          <li>
          <a href="#">Select an exportability indicator  </li>
        <li>
          </li>
        </a>
      </ul>
    </div>
  </div>
</div>

<div class="govuk-form-group govuk-form-group--error">
  <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint passport-issued-error">
    <legend class="govuk-fieldset__legend">
      Receipt date
    </legend>
     </legend>
    <p id="passport-issued-error" class="govuk-error-message">
      <span class="govuk-visually-hidden">Error:</span> Enter a valid receipt date, for example 27 3 2007
    </p>
    <div class="govuk-date-input" id="passport-issued">
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
            Day
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" inputmode="numeric" value="AB">
        
        </div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
            Month
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" inputmode="numeric" value="CD">
        </div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
            Year
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" inputmode="numeric" value="EFGH">
        </div>
      </div>
    </div>
  </fieldset>
</div>

  <div class="govuk-form-group govuk-form-group--error">
  <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint passport-issued-error">
    <legend class="govuk-fieldset__legend">
      Effective date 
    </legend>
     </legend>
    <p id="passport-issued-error" class="govuk-error-message">
      <span class="govuk-visually-hidden">Error:</span> Enter a valid effective date, for example 27 3 2007
    </p>
    <div class="govuk-date-input" id="passport-issued">
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
            Day
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" inputmode="numeric" value="AB">
        
        </div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
            Month
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" inputmode="numeric" value="CD">
        </div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
            Year
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" inputmode="numeric" value="EFGH">
        </div>
      </div>
    </div>
  </fieldset>
</div>

{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

{{ govukCheckboxes({
  name: "waste",
  fieldset: {
    legend: {
      text: "Indicators (optional)"
    }
  },
  items: [
    {
      value: "carcasses",
      text: "B - Boarder case",
      checked: true
    },
    {
      value: "mines",
      text: "D - Renal dialysis"
    },
    {
      value: "farm",
      text: "F - proven fraud",
      checked: true
    },
    {
      value: "farm",
      text: "I - Fraud - under investigation"
    },
    {
      value: "farm",
      text: "L - Motability publicity required - DLA only"
    },
    {
      value: "farm",
      text: "N - Notepad"
    },
    {
      value: "farm",
      text: "P - Overpayment interest"
    },
    {
      value: "farm",
      text: "S - SR"
    },
    {
      value: "farm",
      text: "U - No Motability publicity required - DLA only"
    }
  ]
}) }}

{% from "govuk/components/select/macro.njk" import govukSelect %}

{{ govukSelect({
  id: "sort",
  name: "sort",
  label: {
    text: "Alternative format flag (optional)"
  },
  items: [
    {
      value: "published",
      text: "00 - Normal"
    },
    {
      value: "updated",
      text: "01 - Welsh",
      selected: true
    },
    {
      value: "views",
      text: "02 - Braille"
    },
    {
      value: "comments",
      text: "03 - Foreign language"
    },
    {
      value: "views",
      text: "04 - Audio Tape"
    },
    {
      value: "comments",
      text: "05 - Large Font"
    },
    {
      value: "views",
      text: "06 - British Sign Language"
    },
    {
      value: "comments",
      text: "07 - Telephone"
    },
    {
      value: "views",
      text: "08 - Email"
    },
    {
      value: "comments",
      text: "09 - Textphone or Typetalk or Relay UK"
    }
  ]
}) }}

{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/select/macro.njk" import govukSelect %}


{{ govukSelect({
  id: "exportability-indicator",
  name: "exportabilityIndicator",
  label: {
    text: "Exportability indicator"
  },
  errorMessage: {
    text: "Select an exportability indicator"
  },
  items: [
    {
      value: "",
      text: "Select an exportability indicator",
      selected: true
    },
    {
      value: "00",
      text: "00 - No exportability interest"
    },
    {
      value: "01",
      text: "01 - Exportability decision pending"
    },
    {
      value: "02",
      text: "02 - Not in sickness Insurance period"
    },
    {
      value: "comments",
      text: "03 - In receipt of Foreign Pension"
    },
    {
      value: "views",
      text: "04 - In receipt of Foreign Sickness Benefit"
    },
    {
      value: "comments",
      text: "05 - Has Foreign Insurance"
    },
    {
      value: "views",
      text: "06 - Is a family member of someone in receipt of Foreign Sickness Benefit"
    },
    {
      value: "comments",
      text: "07 - Is a family member of someone with Foreign Insurance"
    },
    {
      value: "views",
      text: "08 - Past Presence Test not satisfied"
    },
    {
      value: "comments",
      text: "09 - Past Presence test not satisfied for close period at start of award"
    },
    {
      value: "views",
      text: "10 - Mobility component only"
    },
    {
      value: "comments",
      text: "11 - Exported - in receipt of State Pension"
    },
    {
      value: "views",
      text: "12 - Exported - in receipt of Incapacity Benefit"
    },
    {
      value: "comments",
      text: "13 - Exported - inside Sickness Insurance period"
    },
    {
      value: "views",
      text: "14 - Exported - currently paying United Kingdom (UK) National Insurance contributions"
    },
    {
      value: "comments",
      text: "15 - Exported - family member of someone within Sickness Insurance period"
    },
    {
      value: "comments",
      text: "16 - Exported - family member of someone paying UK National Insurance contributions"
    },
    {
      value: "views",
      text: "17 - Exported - other reasons"
    },
    {
      value: "comments",
      text: "21 - New Claim - in receipt of State Pension"
    },
    {
      value: "views",
      text: "22 - New Claim - in receipt of Incapacity Benefit"
    },
    {
      value: "comments",
      text: "23 - New Claim - inside Sickness Insurance period"
    },
    {
      value: "views",
      text: "24 - New Claim - currently paying UK National Insurance contributions"
    },
    {
      value: "comments",
      text: "25 - New CLaim - family member of someone within Sickness Insurance period"
    },
    {
      value: "views",
      text: "26 - New Claim - family member of someone paying UK National Insurance contributions"
    },
    {
      value: "comments",
      text: "27 - New CLaim - other reason"
    }
  ]
}) }}

{% from "govuk/components/radios/macro.njk" import govukRadios %}

{{ govukRadios({
  name: "whereDoYouLive",
  fieldset: {
    legend: {
      text: "Scottish?"
    }
  },
  items: [
    {
      value: "england",
      text: "Yes"
    },
    {
      value: "scotland",
      text: "No"
    }
  ],
  errorMessage: {
    text: "Select an option"
  }
}) }}


<button type="submit" class="govuk-button" data-module="govuk-button" onclick="window.location.href='case-details'">
  Save
</button>

  </div>

</div>

{% endblock %}