{% extends "layouts/main.html" %}

{% block pageTitle %}
  Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}

{% include './includes/_header.html' %}


{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">

    <button class="dwp-side-navigation__button" data-module="dwp-side-navigation"
      data-target="dwp-side-navigation-panel"
      data-label-hide="Hide navigation"
      data-label-show="Show navigation"
      aria-expanded="false">
      <span class="dwp-side-navigation__section-toggle-focus">
        <span class="dwp-side-navigation__chevron dwp-side-navigation__chevron--down"></span>
        <span class="dwp-side-navigation__section-toggle-text">Show navigation</span>
      </span>
    </button>
    <nav data-module="dwp-side-navigation-panel" class="dwp-side-navigation dwp-side-navigation--mobile" aria-label="Side" role="navigation">
      <ul class="dwp-side-navigation__list">
        <li class="dwp-side-navigation__item">
          <a id="s-item-1" href="#s-item-1" class="dwp-side-navigation__link">
            Child details
          </a>
        </li>
        <li class="dwp-side-navigation__item">
          <a id="s-item-2" href="#s-item-2" class="dwp-side-navigation__link">
            Life history
          </a>
        </li>
        <li class="dwp-side-navigation__item dwp-side-navigation__item--selected">
          <a id="s-item-3" href="#s-item-3" class="dwp-side-navigation__link dwp-side-navigation__link--selected" aria-current="true">
            Relationship details
          </a>
        </li>
        <li class="dwp-side-navigation__item">
          <a id="s-item-4" href="#s-item-4" class="dwp-side-navigation__link">
            Historical personal details
          </a>
        </li>
        <li class="dwp-side-navigation__item">
          <a id="s-item-5" href="#s-item-5" class="dwp-side-navigation__link">
            Pick person
          </a>
        </li>
      </ul>
    </nav>
  </div>

<div class="govuk-grid-column-three-quarters">
  <section class="dwp-quick-reference" aria-label="Case information">
    <dl class="dwp-quick-reference__block">
      <dt class="dwp-quick-reference__label govuk-visually-hidden">Name:</dt>
      <dd class="dwp-quick-reference__primary">Jane Smith</dd>
      <dt class="dwp-quick-reference__label dwp-quick-reference__label--primary govuk-visually-hidden">National Insurance number:</dt>
      <dd class="dwp-quick-reference__secondary"><b>National insurance number: </b>QQ 12 34 56 X</dd>
      <dd class="dwp-quick-reference__secondary"><b>Date of birth: </b>9 May 2006 <strong class="govuk-tag">V</strong></dd>
      <dd class="dwp-quick-reference__secondary"><b>Claim status: </b><strong class="govuk-tag">Registered</strong></dd>
    </dl>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

{% from "govuk/components/tabs/macro.njk" import govukTabs %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% set pastDayHtml %}





          <div class="tab-header">
            <h1 class="govuk-heading-l govuk-!-margin-bottom-!-margin-bottom-0">
              CA claimant
            </h2>
           
          </a>
          </div>

{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
 {{ govukSummaryList({
  rows: [
    {
      key: {
        text: "Relationship type"
      },
         value: {
        text: "Parent guardian"
      }
    }
  ]
}) }}


<h2 class="govuk-heading-m">Name</h2>

{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{{ govukSummaryList({
  rows: [
       {
      key: {
        text: "Surname"
      },
      value: {
        text: "[Data value]"
      }
    },
       {
      key: {
        text: "First name"
      },
      value: {
        text: "[Data value]"
      }
    },
       {
      key: {
        text: "Other name"
      },
      value: {
        text: "[Data value]"
      }
    },
       {
      key: {
        text: "Titled"
      },
      value: {
        text: "[Data value]"
      }
    },
       {
      key: {
        text: "Requested name"
      },
      value: {
        text: "[Data value]"
      }
    }
  ]
}) }}

<h2 class="govuk-heading-m">Further personal details</h2>

{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{{ govukSummaryList({
  rows: [
       {
      key: {
        text: "CA ref No"
      },
      value: {
        text: "[Data value]"
      }
    },
     {
      key: {
        text: "Date of birth"
      },
      value: {
        text: "[Data value]"
      }
    }
  ]
}) }}


{% endset -%}




{{ govukTabs({
  items: [
    {
      label: "Relationship details",
      id: "Relationship details",
      panel: {
        html: pastDayHtml
      }
    },
    {
      label: "CA claimant",
      id: "CA claimant",
      panel: {
        html: pastWeekHtml
      }
    }
  ]
}) }}





  </div>

</div>

{% endblock %}
