{% extends "layouts/main.html" %}

{% block pageTitle %}
  Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}

{% include './includes/_header.html' %}


{% endblock %}

{% block content %}

<div class="govuk-grid-row">

<div class="govuk-grid-column-">
  <section class="dwp-quick-reference" aria-label="Case information">
    <dl class="dwp-quick-reference__block">
      <dt class="dwp-quick-reference__label govuk-visually-hidden">Name:</dt>
      <dd class="dwp-quick-reference__primary">Jane Smith</dd>
      <dt class="dwp-quick-reference__label dwp-quick-reference__label--primary govuk-visually-hidden">National Insurance number:</dt>
      <dd class="dwp-quick-reference__secondary"><b>National insurance number: </b>QQ 12 34 56 X</dd>
      <dd class="dwp-quick-reference__secondary"><b>Date of birth: </b>9 May 2006 <strong class="govuk-tag">V</strong></dd>
      <dd class="dwp-quick-reference__secondary"><b>Claim status: </b><strong class="govuk-tag">Registered</strong></dd>
    </dl>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

  </section>

  {% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{{ govukBackLink({
  text: "Back",
  href: "/notifications"
}) }}

 {% from "govuk/components/radios/macro.njk" import govukRadios %}

{{ govukRadios({
  name: "Select a notification type",
  fieldset: {
    legend: {
      text: "Select a notification type",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  items: [
    {
      value: "Letter of entitlement",
      text: "Letter of entitlement"
    },
    {
      value: "VED Certificate of Entitlement",
      text: "VED Certificate of Entitlementr"
    },
    {
      value: "DBD225A Parent Guardian responsbilities",
      text: "DBD225A Parent Guardian responsbilities"
    },
      {
      value: "BF57B Review of appointment to act (P/G)",
      text: "BF57B Review of appointment to act (P/G)"
    },
      {
      value: "DBD955 Change of account details",
      text: "DBD955 Change of account details"
    }
  ]
}) }}

    <h2 class="govuk-heading-m">Renewal and supersssion forms/notifications</h2>
  {{ govukRadios({
  fieldset: {
    legend: {
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  items: [  
      {
      value: "DBD138 DLA Nighttime needs",
      text: "DBD138 DLA Nighttime needs"
    },
      {
      value: "DBD73 Child renewal invite",
      text: "DBD73 Child renewal invite"
    },
      {
      value: "DBD420 Child/Adult supersession request",
      text: "DBD420 Child/Adult supersession request"
    }
  ]
}) }}

    <h2 class="govuk-heading-m">Appeal/recon - enquiey forms/notifications</h2>
  {{ govukRadios({
  fieldset: {
    legend: {
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  items: [  
      {
      value: "DBD919 TS des rtd for corrective actions",
      text: "DBD919 TS des rtd for corrective action"
    },
      {
      value: "DBD4R Acknowledgment
DBD4 Acknowledgment",
      text: "DBD4R Acknowledgment
DBD4 Acknowledgment"
    },
      {
      value: "DBD303 Non-payee request",
      text: "DBD303 Non-payee request"
    },
    {
      value: "DBD304 Confirm non-payee permission (or can be req after DBD303)",
      text: "DBD304 Confirm non-payee permission (or can be req after DBD303)"
    },
    {
      value: "PIPR11 Suspension",
      text: "PIPR11 Suspension"
    },
    {
      value: "PIPR13 Termination",
      text: "PIPR13 Termination"
    },
        {
      value: "PIPR14 Chooses not to claim PIP",
      text: "PIPR14 Chooses not to claim PIP"
    }
  ]
}) }}

{% from "govuk/components/button/macro.njk" import govukButton %}

{{ govukButton({
  text: "Continue",
  href: "/Confirm-notification-IF-address-autopopulated"
}) }}


  

  </div>

</div>

{% endblock %}
