{% extends "layouts/main.html" %}

{% block pageTitle %}
  Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}

{% include './includes/_header.html' %}


{% endblock %}

{% block content %}

<div class="govuk-grid-row">

<div class="govuk-grid-column-three-quarters">
  <section class="dwp-quick-reference" aria-label="Case information">
    <dl class="dwp-quick-reference__block">
      <dt class="dwp-quick-reference__label govuk-visually-hidden">Name:</dt>
      <dd class="dwp-quick-reference__primary">Jane Smith</dd>
      <dt class="dwp-quick-reference__label dwp-quick-reference__label--primary govuk-visually-hidden">National Insurance number:</dt>
      <dd class="dwp-quick-reference__secondary"><b>National insurance number: </b>QQ 12 34 56 X</dd>
      <dd class="dwp-quick-reference__secondary"><b>Date of birth: </b>9 May 2006 <strong class="govuk-tag">V</strong></dd>
      <dd class="dwp-quick-reference__secondary"><b>Claim status: </b><strong class="govuk-tag">Registered</strong></dd>
    </dl>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

<a href="/payment-suspended" class="govuk-back-link">Back</a>


  <h1 class="govuk-heading-l">Suspend payments</h1>
  <label class="govuk-label" for="sort-code">
      Suspension action
    </label>
  {% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}

{% set awardDateHtml %}
  {{ govukDateInput({
    id: "effective-suspension-date",
    namePrefix: "effectiveSuspensionDate",
    fieldset: {
      legend: {
        text: "Effective suspension date",
        classes: "govuk-body-s"
      }
    },
items: [
  {
    name: "day",
    classes: "govuk-input--width-2",
    value: "27"
  },
  {
    name: "month",
    classes: "govuk-input--width-2",
    value: "3"
  },
  {
    name: "year",
    classes: "govuk-input--width-4",
    value: "2026"
  }
]
  }) }}
{% endset %}

{{ govukRadios({
  name: "suspensionAction",
  items: [
    {
      value: "F",
      text: "F - Full"
    },
    {
      value: "A",
      text: "A - Award",
      checked: true,
      conditional: {
        html: awardDateHtml
      }
    }
  ]
}) }}

        <div class="govuk-form-group">
  <label class="govuk-label" for="sort">
    Reason code for suspension
  </label>
  <select class="govuk-select" id="sort" name="sort">
    <option value="published"></option>
    <option value="views" selected>00 - Other</option>
    <option value="views">10 - Hospitalisation / Certain Other Accommodation</option>
    <option value="views">15 - Suspected Fraud</option>
    <option value="views">16 - Absence Abroad</option>
    <option value="views">17 - On remand / Imprisonment</option>
    <option value="views">28 - Voluntary relinquishment</option>
    <option value="views">29 - Reported Improvement (not confirmed)</option>
    <option value="views">30 - Age 16 - where details of appointee are required (DLA only)</option>
    <option value="views">31 - No Response to PIP Claim (DLA only)</option>
    <option value="views">39 - Gone Away (Full suspension only)</option>
    <option value="views">40 - Failure to Comply (Full suspension only)</option>
  </select>
</div>

{% from "govuk/components/button/macro.njk" import govukButton %}

{{ govukButton({
  text: "Save",
  href: "/payment-suspended"
}) }}


</div>

{% endblock %}
